Subject: Invalid Producer Account

<!-- start templates/[% template.name %] -->

Hello [% user.name %],
<br><br>
Your account on our producer platform associated with the organization [% org.name %] is not valid.<br>
If you are a producer, please use your professional email address. If you are a consumer, please use our public platform.
<br><br>
If you believe this is an error, please contact us at producers@openfoodfacts.org
<br>
Thank you for your understanding,
<br>
The Open Food Facts Team

<!-- end templates/[% template.name %] -->