Subject: Pro Account deactivation notification

<!-- start templates/[% template.name %] -->

Hello,<br><br>
As part of our ongoing efforts to improve and maintain the quality of our platform, we recently conducted a review of all Open Food Facts Pro accounts. During this review, we identified certain accounts that either had not yet imported any product data or appeared to be registered with personal email addresses rather than professional ones.<br><br>
Based on these criteria, <b>we have made the decision to deactivate your pro account</b> associated to the organization <b>[% org.org_id %]</b>. However, if you believe this action was taken in error or if you are still interested in using the platform, we are more than happy to assist you in getting started with the Open Food Facts Pro platform.<br><br>
If you would like to reactivate your account, please respond to this email, and we will guide you through the next steps. We want to ensure that everyone who wishes to contribute to our collaborative database has the opportunity to do so.<br><br>
Thank you for your understanding, and we apologize for any inconvenience this may have caused.<br><br>
Best,<br><br>
The Open Food Facts team<br><br>

<!-- end templates/[% template.name %] -->