Subject: Welcome to your Open Food Facts workspace!

Dear [% user.name %],

We are excited to inform you that you have been added to the workspace of org-[% org.org_id %] on the Open Food Facts Pro platform!

To get started, you can access your workspace <a href="https://[% server_domain %]/" target="_blank" rel=""noopener">here</a>.

If you need any assistance, feel free to consult our <a href="https://blog.openfoodfacts.org/en/EN-Pro-Plateform-User-Guide.pdf" target="_blank" rel=”noopener”>guide</a>.

Welcome aboard! We're thrilled to have you with us.

Best,

The Open Food Facts Team