#footer_block_image_banner_outside {
  background: no-repeat top left url(/images/illustrations/footer-planet.svg)
}

#footer_block_image_banner_outside2 {
  background: no-repeat bottom right url(/images/illustrations/footer-orange.svg)
}

.tags_links {
    a {
        margin-bottom: $inline-list-default-float-list-margin !important;
    }
}

#footer_block {
    ul {
        display: inline-block;
    }
}
