input[type="checkbox"] {

    accent-color: $primary-color;

  }
  
  input[type="radio"] {

    accent-color: $primary-color;

  }

  input[type="submit"] {

    border-radius:$global-radius;

  }
  
