// List of products with cards (e.g. search results, facets)
$productsGutter:12;
.search_results {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 0;
    li {
        position: relative;
        display: flex;
        width: calc((100% - ($productsGutter * 1px)) / 2);
        margin-bottom: #{$productsGutter}px;
        @media #{$medium-up} {
            width: calc((100% - ($productsGutter * 2px)) / 3);
            margin-bottom: #{$productsGutter}px;
        }
        @media #{$large-up} {
            width: calc((100% - ($productsGutter * 3px)) / 4);
            margin-bottom: #{$productsGutter}px;
        }
        @media #{$xlarge-up} {
            width: calc((100% - ($productsGutter * 5px)) / 6);
            margin-bottom: #{$productsGutter}px;
        }
    }
}

.search_results::before {
  content: none;
}

.search_results::after {
  content: "";
  position: relative;
  display: flex;
  width: calc((100% - ($productsGutter * 1px)) / 2);
  margin-bottom: #{$productsGutter}px;
  @media #{$medium-up} {
      width: calc((100% - ($productsGutter * 2px)) / 3);
      margin-bottom: #{$productsGutter}px;
  }
  @media #{$large-up} {
      width: calc((100% - ($productsGutter * 3px)) / 4);
      margin-bottom: #{$productsGutter}px;
  }
  @media #{$xlarge-up} {
      width: calc((100% - ($productsGutter * 5px)) / 6);
      margin-bottom: #{$productsGutter}px;
  }
}

.list_product_a {
    border-radius: 8px;
    padding: 0px;
    background-color: $white;
    display: flex;
    width: 100%;
    flex-direction: column;
    .list_product_sc {
        margin-top: auto;
        padding: 4px;
    }
    box-shadow: 0 4px 4px rgb(0 0 0 / 25%);
}

.list_product_a:hover {
    box-shadow: 0 0 0px 4px #0087c266;
    text-decoration: none;
}

.list_product_a_match_yes {
    background-color: #cfc;
}

.list_product_a_match_yes:hover {
    background-color: #afa;
}

.list_product_a_match_no {
    background-color: #fcc;
}

.list_product_a_match_no:hover {
    background-color: #faa;
}

.search_results .list_display_barcode {
    color: black;
    font-size: .8em;
    display: block; // one line for barcode, to keep thing homogeneous
}

.search_results .list_edit_link img {
    height: 1em;
}

.search_results .list_edit_link {
    position: absolute;
    top: 0;
    right: 0;
    padding: 0 1em;
    border-radius: .3em;
}

.search_results .list_edit_link:hover {
    background-color: #aaf;
}

// Horizontally and vertically center images
.list_product_img_div {
    height: 144px;
    margin: 12px;
    // margin-top: 6px;
}

.list_product_img {
    object-fit: contain;
    width: 100%;
    height: 100%;
}

.list_product_name {
    margin-top: 0.2rem;
    line-height: 20px;
    padding-right: 8px;
    padding-left: 8px;
    font-size: 14px;
    color: $black;
    // Force the height and use line-clamp of the product name so that
    // icons below are vertically aligned with other cards on the same line
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 4;
    height: 82px;
    overflow: hidden;
}

.list_product_icons {
    height: 32px;
    margin-right: 0.2rem;
    margin-top: 0.2rem;
}


@media #{$medium-up} {
    .list_product_name {
        overflow: hidden;
    }
}

// filter
// style: Fixed display of filter bar.
.filterProducts {
  display: flex;
  align-items: center;
  gap: 1rem;
  z-index: 1;
  @media #{$small-only} {
    flex-direction: column;
    padding: .5rem;
  }
  > div button {
    display: flex;
    align-items: center;
  }
  .f-dropdown {
    a { color: $primary-color; }
  }
  &__results {
    display: flex;
    align-items: center;
    gap: 8px;
    color: $white;
    .material-icons { font-size: 18px; }
  }
  &__buttons {
    display: flex;
    gap: 1rem;
    .button > .material-icons {
      padding-right: 8px;
    }
  }
}

#preferences_selected {
    display: flex;
//    flex-direction: column;
//    align-items: center;
//    justify-content: center;
}
#show_selection_form {
    height: auto;
    display: inline-flex;
    justify-content: center;
    align-items: center;
}

//// pagination
#pages.pagination {
    clear:left;
    border-top: 2px solid $bluegrey;
    display: flex;
    align-items: center;
    padding-top: 1rem;
    li:last-child {
        margin-left: auto;
    }
    li {
        display: flex;
        justify-content: center;
        align-items: center;
        a {
            border-radius: 50%;
            width: 2.65rem;
            height: 2.65rem;
            text-align: center;
            padding: 0;
            display: flex;
            justify-content: center;
            align-items: center;
            font-size: 0.9em;
            &[rel="next$nofollow"],&[rel="prev$nofollow"] {
                width: 5rem;
                border-radius: 1rem;
            }
        }
    }
}

@media #{$small-only} {
    .products li,
    ul.pagination li {
        float: none;
        display: inline-block;
    }
    ul.products,
    #pages,
    ul.button-group {
        text-align: center;
    }
    ul.pagination li:first-child {
        display: block;
    }
    ul.button-group li {
        margin-top: 3px;
        margin-bottom: 3px;
    }
    #main_column {
        height: auto !important;
    }
}

// Greeter CSS
// ~/lang-default/en/texts/index.html

$greeter-discover-bgcolor: #E3F6FF;
$greeter-contribute-bgcolor: #FFF2DF;

// RTL Support
[dir=rtl] .homepage-greeter-wrapper::before {
  background: linear-gradient(90deg, $greeter-contribute-bgcolor 50%, $greeter-discover-bgcolor 50%) !important;
}

[dir=rtl] .homepage-greeter__discover,
[dir=rtl] .homepage-greeter__contribute {
  flex-direction: row-reverse !important;
}
// end of RTL Support

.homepage-greeter {
  display: inline-grid;
  grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
  margin-top: -.5rem;
  @media #{$small-only} { grid-template-rows: max-content; width: 100%; }
  @media #{$large-up} { max-width: 1280px; grid-template-rows: 300px; }
  & .show-when-logged-in { display: none; }
  &-wrapper {
    display: flex;
    justify-content: center;
    z-index: 0;
    &::before {
      display: inline-block;
      content: '';
      position: absolute;
      margin-top: -.5rem;
      width: 100vw;
      height: 100%;
      max-height: 300px;
      background: linear-gradient(90deg, $greeter-discover-bgcolor 50%, $greeter-contribute-bgcolor 50%);
    }
  }
  &__discover,
  &__contribute {
    display: flex;
    margin: 0;
    padding: 0;
    z-index: 1;
    &--content {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      max-width: 100vw;
      padding: 2rem;
      z-index: 1;
    }
    &--image {
      position: relative;
      width: 100%;
      height: 100%;
      @media #{$small-only} { display: none; }
      @media #{$medium-only} { opacity: .25; }
      img {
        position: absolute;
        max-width: none;
        height: 80%;
      }
    }
  }
  &__discover {
    background-color: $greeter-discover-bgcolor;
    &--content {
      @media #{$xlarge-up} { padding-left: 0; }
    }
    &--image > img {
      top: 1rem;
      right: 1rem;
    }
  }
  &__contribute {
    background-color: $greeter-contribute-bgcolor;
    &--image > img {
      top: 0;
      right: 0;
    }
  }
  &__button {
    display: inline-flex;
    align-items: center;
    gap: 8px;
    width: fit-content;
    background-color: $white !important;
    margin-top: 2rem;
    &:hover { background-color: #F6F6F6 !important; }
  }
}
