@import "../node_modules/@yaireo/tagify/src/tagify.scss";
@import "variables"; 


:root {
  $tagify-dd-color-primary: #341100 !important; 
  --tagify-dd-color-primary: #341100 !important;
}


.tagify__input::placeholder {
  color: $dark; 
}


.tagify__tag:hover {
  background-color: #341100;
}


.tagify__tag .tagify__tag__removeBtn {
  background-color: $text-color-dark;
}


.tagify__tag .tagify__tag__removeBtn:hover {
  
  background-color: var(--chocolate);
}

.tagify__dropdown__item {
  background-color: white;
  color: black;
}

.tagify__dropdown__item:hover {
  background-color: #341100;
  color: white;
}

.tagify__dropdown__item--active {
  background-color: #341100;
  color: white;
}