# https://help.github.com/github/administering-a-repository/configuration-options-for-dependency-updates

version: 2
updates:
  - package-ecosystem: "npm" # See documentation for possible values
    directory: "/" # Location of package manifests
    schedule:
      interval: "monthly"
    open-pull-requests-limit: 300
    groups:
      babel:
        patterns:
          - "@babel/*"
          - "gulp-babel"
      gulp:
        patterns:
          - "@types/gulp*"
          - "gulp*"
        exclude-patterns:
          - "gulp-babel"
      jquery:
        patterns:
          - "@types/jquery*"
          - "jquery*"
      leaflet:
        patterns:
          - "leaflet*"
      lint:
        patterns:
          - "@typescript-eslint/*"
          - "eslint*"
          - "stylelint*"
      typescript:
        patterns:
          - "ts-node"
          - "typescript"
    ignore:
      - dependency-name: "jquery"
        versions: [ ">= 3.0.0" ]  # https://github.com/openfoodfacts/openfoodfacts-server/pull/11109
  - package-ecosystem: "github-actions"
    directory: "/"
    schedule:
      interval: "monthly"
    open-pull-requests-limit: 300
  - package-ecosystem: "docker"
    directory: "/"
    schedule:
      interval: "monthly"
    open-pull-requests-limit: 300
  - package-ecosystem: "pip"
    directory: "/scripts/packager-codes/non-eu/"
    schedule:
      interval: "monthly"
    open-pull-requests-limit: 300
  - package-ecosystem: "devcontainers"
    directory: "/"
    schedule:
      interval: "monthly"
    allow:
      - dependency-type: "all"
    groups:
      devcontainers:
        patterns:
          - "*"
