node_modules
html/bower_components
.git
.github
docker
scripts
conf

html/images/misc/openfoodfacts-visual-decision-05-03-13.pdf
html/images/misc/20130416_QUOz.pdf
html/images/misc/assemblee-constitutive-off-v1.pdf
html/images/misc/notetondistrib.png
html/images/misc/assemblee-constitutive-off-v1.odp
html/images/misc/missions-svg.zip
html/images/misc/cdp_bourgogne_openfoodfacts_v2.odp
html/images/misc/cdp_bourgogne_openfoodfacts_v2.pdf
html/images/misc/open-food-facts-carrefour-des-possibles-bourgogne-mars-2013.pdf
html/images/misc/openfoodfacts_mines-telecom_20130620.pdf
html/images/misc/openfoodfacts_mines-telecom_20130620.odb
html/images/misc/openfoodfacts-openworldforum-20131005.pdf
html/images/misc/openfoodfacts-dataconnexions4-20131204.pdf
html/images/misc/openfoodfacts-openworldforum-20131005.odp
html/images/misc/openfoodfacts_ess_ong_20130611.pdf

