# Configuration
lib/ProductOpener/Config.pm
lib/ProductOpener/Config2.pm
lib/ProductOpener/SiteLang.pm

# Local files
.DS_Store?
._*
.Spotlight-V100
.Trashes
ehthumbs.db
Thumbs.db

# Logs
Store.debug.txt
*.log

# Local databases
data/mongodb

# Libraries
node_modules
html/bower_components
local

# Front build
html/css/dist
html/js/dist

# Don't store helm dependencies in our git repo
docker/productopener/charts