# Basic .gitattributes for a perl repo.

# Source files
# ============
*.pl	text
*.pm	text

*.pl linguist-language=Perl
*.pm linguist-language=Perl

# Test files
# ============
*.t	text

# This Bash file needs Unix line endings on Windows, because it'll be injected to a Linux container
docker/backend-git/conf/po-foreground.sh text=auto eol=lf