language: perl
perl:
  - "system"
env: COVERAGE=1
addons:
  apt:
    packages:
    - libimage-magick-perl
    - libbarcode-zbar-perl
    - tesseract-ocr
    - graphviz
sudo: false
before_install:
  - npm install -g bower
  - cpanm --local-lib=~/perl5 local::lib && eval $(perl -I ~/perl5/lib/perl5/ -Mlocal::lib)
install:
  - cpanm --quiet --installdeps --notest --skip-satisfied .
  - bower install
  - ln -s /home/travis/build/openfoodfacts/openfoodfacts-server/lib/ProductOpener/Config_off.pm /home/travis/build/openfoodfacts/openfoodfacts-server/lib/ProductOpener/Config.pm
  - cp /home/travis/build/openfoodfacts/openfoodfacts-server/lib/ProductOpener/Config2_sample.pm /home/travis/build/openfoodfacts/openfoodfacts-server/lib/ProductOpener/Config2.pm
  - ln -s /home/travis/build/openfoodfacts/openfoodfacts-server/lib/ProductOpener/SiteLang_off.pm /home/travis/build/openfoodfacts/openfoodfacts-server/lib/ProductOpener/SiteLang.pm
  - sed -i -e 's/\$server_domain = "openfoodfacts.org";/\$server_domain = "off.travis-ci.org";/g' /home/travis/build/openfoodfacts/openfoodfacts-server/lib/ProductOpener/Config2.pm
  - sed -i -e 's/\$www_root = "/home/off/html";/\$www_root = "/home/travis/build/openfoodfacts/openfoodfacts-server/html";/g' /home/travis/build/openfoodfacts/openfoodfacts-server/lib/ProductOpener/Config2.pm
  - sed -i -e 's/\$data_root = "/home/off";/\$data_root = "/home/travis/build/openfoodfacts/openfoodfacts-server";/g' /home/travis/build/openfoodfacts/openfoodfacts-server/lib/ProductOpener/Config2.pm
script:
  - prove -l
  - perl -c -CS -I/home/travis/build/openfoodfacts/openfoodfacts-server/lib lib/startup_apache2.pl
notifications:
  slack: openfoodfacts:Pre9ZXKFH1CYtix8DeJAaFi2
