version: "3.7"
services:
  memcached:
    image: memcached:1.6-alpine
    networks:
      - webnet
  postgres:
    image: postgres:12-alpine
    networks:
      - webnet
    environment:
      - POSTGRES_USER
      - POSTGRES_PASSWORD
      - POSTGRES_DB=minion
    volumes:
      - pgdata:/var/lib/postgresql/data
  backend:
    image: ghcr.io/openfoodfacts/openfoodfacts-server/backend:${TAG}
    environment:
      - PRODUCERS_PLATFORM
      - PRODUCT_OPENER_DOMAIN
      - PRODUCT_OPENER_PORT
      - MONGODB_HOST
      - POSTGRES_USER
      - POSTGRES_PASSWORD
      - ROBOTOFF_URL
      - GOOGLE_CLOUD_VISION_API_KEY
      - CROWDIN_PROJECT_IDENTIFIER
      - CROWDIN_PROJECT_KEY
      - GEOLITE2_PATH
      - BUILD_LANG
    depends_on:
      - memcached
      - postgres
    volumes:
      - product_images:/opt/product-opener/html/images/products # Product images [read / write]
      - html_data:/opt/product-opener/html/data # Static data (e.g dumps)

      # Binds from frontend container (read-only)
      - icons_dist:/opt/product-opener/html/images/icons/dist:ro
      - js_dist:/opt/product-opener/html/js/dist:ro
      - css_dist:/opt/product-opener/html/css/dist:ro
      - node_modules:/opt/product-opener/node_modules:ro

      # Users and products .sto files
      - users:/mnt/podata/users # .sto
      - products:/mnt/podata/products # .sto

      # Logs
      - ./logs/apache2:/var/log/apache2
      - ./logs/apache2:/mnt/podata/logs
      - ./logs/apache2:/var/log/httpd

      # Apache conf
      - ./conf/apache.conf:/etc/apache2/sites-enabled/product-opener.conf

      # Tmpfs
      - type: tmpfs
        target: /mnt/podata/mnt
    command: ["/bin/sh", "/opt/product-opener/scripts/po-foreground.sh"]
    networks:
      - webnet
  frontend:
    image: ghcr.io/openfoodfacts/openfoodfacts-server/frontend:${TAG}
    depends_on:
      - backend
    environment:
      - PRODUCT_OPENER_DOMAIN
    volumes:
      - product_images:/opt/product-opener/html/images/products:ro
      - html_data:/opt/product-opener/html/data:ro

      # Static dist/ assets (JS, CSS, Icons, Image attributes)
      - icons_dist:/opt/product-opener/html/images/icons/dist
      - js_dist:/opt/product-opener/html/js/dist
      - css_dist:/opt/product-opener/html/css/dist

      # Logs 
      - ./logs/nginx/:/var/log/nginx/
      
      # Nginx
      - ./conf/nginx.conf:/etc/nginx/conf.d/default.conf

      # Node modules
      - node_modules:/opt/product-opener/node_modules
    ports:
      - ${PRODUCT_OPENER_PORT}:80
    networks:
      - webnet
volumes:
  pgdata:
  icons_dist:
  js_dist:
  css_dist:
  node_modules:
networks:
  webnet:
