version: '3.3'
services:
  db:
    image: mongo:2.4
    volumes:
      - ./data/mongodb:/data/db
    ports:
        - 27017:27017
  app:
    build:
      context: .
    ports:
      - "8080:8080"
    depends_on:
      - db
