[% # This is a Template Toolkit file for the site layout in Open Food Facts 
   # File path: /templates/web/common/site_layout.tt.html 
   # Only the language switcher section is shown here for brevity
%]

[% # Language switcher dropdown menu - This is the part we're modifying %]
<div class="language-selector dropdown">
  <button class="btn btn-sm dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
    [% lang %]
  </button>
  <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
    [% FOREACH l IN ['en', 'fr', 'es', 'de', 'it', 'nl', 'pt', 'ru', 'zh'] %]
      [% IF l != lang %]
        <a class="dropdown-item" href="#" data-lang="[% l %]">[% l %]</a>
      [% END %]
    [% END %]
  </div>
</div>

[% # Alternate language selector as an unordered list - often used in mobile views %]
<ul class="language-list">
  [% FOREACH l IN ['en', 'fr', 'es', 'de', 'it', 'nl', 'pt', 'ru', 'zh'] %]
    <li class="language-li">
      [% IF l == lang %]
        <span class="current-language">[% l %]</span>
      [% ELSE %]
        <a href="#" data-lang="[% l %]">[% l %]</a>
      [% END %]
    </li>
  [% END %]
</ul>

[% # Include language switching JavaScript %]
<script src="/js/lang.js"></script>

[% # The rest of the site_layout.tt.html content would go here... %]