# service instance name "%i" is off or off-pro
[Unit]
Description=run cloud vision OCR on new images for %i
# __ will be replaced by @ in email-failures@.service
OnFailure=email-failures@cloud_vision_ocr__%i.service

[Service]
Type=simple
User=off
WorkingDirectory=/srv/%i/
Environment="PERL5LIB=/srv/%i/lib"
ExecStart=/srv/%i/scripts/run_cloud_vision_ocr.pl /srv/%i/new_images
KillMode=process

[Install]
WantedBy=multi-user.target

