[Unit]
Description=Generates regular %i feeds
# __ will be replaced by @ in email-failures@.service
OnFailure=email-failures@gen_feeds__%i.service

[Service]
Type=oneshot
# service instance name "%i" is off / obf / opff / opf
Environment=PERL5LIB=/srv/%i/lib/:/usr/local/share/perl/5.32.1/:/usr/lib/perl5
WorkingDirectory=/srv/%i
ExecStart=/srv/%i/scripts/gen_feeds_%i.sh


