[Unit]
Description=Generates %i daily feeds
# __ will be replaced by @ in email-failures@.service
OnFailure=email-failures@gen_feeds_daily__%i.service

[Service]
Type=oneshot
User=off
Group=off
Environment=PERL5LIB=/srv/opff/lib/:/usr/local/share/perl/5.32.1/:/usr/lib/perl5
# service instance name "%i" is off / obf / opff / opf
ExecStart=/srv/opff/scripts/gen_feeds_daily_%i.sh


