# service instance name "%i" is off or off-pro
[Unit]
Description=%i minion workers
After=postgresql.service
# __ will be replaced by @ in email-failures@.service
OnFailure=email-failures@minion__%i.service

[Service]
Type=simple
User=off
WorkingDirectory=/srv/%i
Environment="PERL5LIB=/srv/%i/lib"
ExecStart=/srv/%i/scripts/minion_producers.pl minion worker -m production
KillMode=process

[Install]
WantedBy=multi-user.target

