# service instance name "%i" is off only (for now)
[Unit]
Description=Synchronize images to AWS S3 %i
# __ will be replaced by @ in email-failures@.service
OnFailure=email-failures@sync_images_s3__%i.service

[Service]
Type=oneshot
User=off
Group=off
WorkingDirectory=/srv/%i/scripts/sync-s3-images
ExecStart=.venv/bin/python3 sync_s3_images.py /mnt/%i/images/products
KillMode=process
