# service instance name "%i" is off only (for now)
[Unit]
Description=Synchronize images to AWS S3 daily

[Timer]
# every tuesday
OnCalendar=Tue *-*-* 02:00:00
# service instance name "%i" is off / obf / opff / opf
Unit=sync_images_s3@%i.service

[Install]
WantedBy=multi-user.target
