Subject: Compte producteur invalide

<!-- start templates/[% template.name %] -->

Bonjour [% user.name %],
<br><br>
Votre compte sur notre plateforme producter associé à l'organisation [% org.name %] n'est pas valide.<br>
Si vous êtes un producteur, merci d'utiliser votre adresse e-mail pro. Si vous êtes un consommateur, veuillez utiliser notre plateforme publique.
<br>
Si vous pensez que ceci est une erreur, contactez nous à l'adresse producers@openfoodfacts.org
<br>
Merci de votre compréhension,
<br>
L'équipe Open Food Facts

<!-- end templates/[% template.name %] -->