Subject: Désactivation de votre compte pro

<!-- start templates/[% template.name %] -->

Bonjour,<br><br>
Dans le cadre de nos efforts continus pour améliorer la plateforme Pro, nous avons récemment passé en revue tous les comptes Open Food Facts Pro. Plusieurs comptes n'ont encore jamais importé de données produits ou semblent être enregistrés avec des adresses mail personnelles plutôt que professionnelles.<br><br>
Sur la base de ces critères, nous avons pris la décision de désactiver votre compte pro lié à l'organisation <b>[% org.org_id %]</b>. Toutefois, si vous pensez que cette mesure a été prise par erreur ou si vous êtes toujours intéressés par l'utilisation de la plateforme, nous serions ravis de vous aider à ajouter vos produits sur la plateforme Pro d'Open Food Facts.<br><br>
Si vous souhaitez réactiver votre compte, merci de répondre à cet e-mail.<br><br>
Nous vous remercions de votre compréhension,<br><br>
L’équipe d’Open Food Facts<br><br>

<!-- end templates/[% template.name %] -->