/* CSS file that implements the dark mode feature */

/* Main Body Column */
body {background-color: #151E29; color:#bfc3ca;}
.products li:hover, .products li a:hover {background-color: #1c2531;}
ul.button-group li:first-child div {background-color: #212f42!important;}
ul.button-group button, ul.button-group button:hover, ul.button-group button:focus {background-color: #1B2737; color: #556c7d;}

/* Nav Bar */
#top-bar, .name, #select_country_li, .top-bar-section li:not(.has-form) a:not(.button)
{background: #1B2737; color: #556c7d;}
.top-bar-section li:not(.has-form) a:not(.button):hover {background-color: #1f2f42; color: #556c7d;}
.top-bar-section>ul>.divider, .top-bar-section>ul>[role=separator] {border-right-color: #1b2837;}
  /* Search button */
.right button[type = "submit"], button.button.postfix {background-color: #223044;}
.right button[type = "submit"]:hover, button.button.postfix:hover {background-color: #25354c;}

  /* Phone */
.top-bar-section ul li>a.button.success, .top-bar-section ul li>a.button.success:focus,
.top-bar-section ul li>a.button.success:hover {background: #1B2737; color: #556c7d;}

/* Nav Bar Collapsed */
.tab-bar, .left-small a, .left-small a:hover, .left-small a:focus {background-color: #1d2633;}
.left-small svg.icon, .menu-icon a span {color: #556c7d; }

/* Primary Text Color */
h1, h2, h3, h4 {color:#bfc3ca;}
/* Secondary Text Color */
a, a:hover, a:visited, label, .top-bar .name h2 a, #select2-select_country-container span,
#drop1 li a, #pages li, #pages li a {color: #556c7d;}

/* Side Bar & Aside*/
#sidebar-whole, #aside_column, aside.left-off-canvas-menu {background-color: #1B2737!important;}

/* Form inputs */
.select2-selection.select2-selection--single, input[type="text"], input[type="password"] {background-color: #222f3f; border: none;}
::placeholder {color: #556c7d;}
input[type = "text"], input[type = "password"] {color:#bfc3ca;}
input[type = "submit"], input[type = "submit"]:hover, input[type = "submit"]:focus, #imgsearchbutton_block_side,
#imgsearchbutton_block_aside, button[type = "submit"], button[type = "submit"]:hover,
button[type = "submit"]:focus {background-color:#293646;color: #556c7d;}
input[type = "text"]:focus, input[type = "password"]:focus {background-color: #2b3850;}

/* Dropdowns */
span.select2-dropdown.select2-dropdown--below {background-color: #233143; border: none;}
.select2-container--default .select2-results__option--highlighted[aria-selected] {background-color: #3b4e5e;}

#drop1 {background: #1B2737; border: none;}
#drop1 li:hover {background-color: #263346;}
button.button.dropdown.small {border-left: none;}

/* Pagination */
ul.pagination li.current a, ul.pagination li.current a:hover {background: #2b3a50;}
ul.pagination li:hover a, ul.pagination li:hover button {background-color: #b0b4b9;}

/* Footer */
footer ul {list-style: none;}

/* Create Your Account */
table, table tr td {background-color: #1B2737; color: #556c7d; border: none;}

/* Product Page */
.edit_button a, .edit_button a:hover {background-color:#1B2737;color: #556c7d;}
.alert-box.info, .alert-box.alert {background-color: #1B2737; color:#bfc3ca; border-color: #263859;}
  /* Nutrition Table */
#nutrition_data_table, #nutrition_data_table tr td {border: 2px solid #151E29;}
#nutrition_data_table thead {background-color: #1B2737;}
#nutrition_data_table th { color: #bfc3ca;}
#nutrition_data_table tr {border-top: none;}
#nutrition_data_table .nutriment_sub td {background-color: #212f42;}

/* Product Search */
#search_form label {color:#556c7d;}
#search_form select {background: #1B2737; border: none; color: #bfc3ca;}
.accordion .accordion-navigation>a {background: #1B2737;}
.accordion .accordion-navigation.active>a, .accordion .accordion-navigation>a:hover
{background: #1d2b3c; text-decoration-color: #556c7d;}
.accordion .accordion-navigation>.content.active {background: #18232f;}

/* charts */
.highcharts-container rect {fill: #1b2431;}
.highcharts-container text {color: #647182!important; fill: #647182!important;}
