
/* TOGGLE BUTTON FOR DARK MODE*/


#toggle { display: none;}

#toggle input[type=checkbox]{
	height: 0;
	width: 0;
	visibility: hidden;
}

label[for="switch"] {
	content: 'Light Mode';
	cursor: pointer;
	text-indent: -9999px;
	width: 45px;
	height: 25px;
	background: #ccc;
	display: list-item;
	border-radius: 100px;
	position: relative;
}

label[for="switch"]:after {
	content: 'Dark Mode';
	position: absolute;
	top: 3px;
	left: 3px;
	width: 20px;
	height: 20px;
	background: #fff;
	border-radius: 90px;
	transition: 0.3s;

}

#dmtext {
	font-size: 0.8125rem;
	margin-left: 10px;
	line-height: 2.8125rem;
}

#toggle input:checked + label[for="switch"]{
	background: #374563;
}

#toggle input:checked + label[for="switch"]:after {
	left: calc(100% - 3px);
	content: 'Night Mode';
	transform: translateX(-100%);
}

label[for="switch"]:active:after {
	width: 45px;
}

@media only screen and (min-width: 640px) {
  #toggle {
    display: block;
  }
}