body,
html {
  min-height: 101%;
  font-family: "Arial", "Helvetica", "Verdana", sans-serif;
  font-size: 100%;
  padding: 0;
  margin: 0;
  width: 100%;
  background: #eef;
}

#page {
  max-width: 1000px;
  padding: 20px;
  padding-top: 10px;
  margin: auto;
  position: relative;
  background: #ffffff;
}

#sharebuttons {
  position: absolute;
  right: 10px;
  top: 30px;
  margin-right: 2em;
}

.sharebutton {
  float: left;
  padding-right: 10px;
  padding-bottom: 5px;
}

a,
a:hover {
  text-decoration: none;
}

a:visited {
  color: blue;
}

#header {
  display: flex;
}

@media (max-width: 800px) {
  #header {
    flex-direction: column;
  }
}

#description {
  margin-top: 1em;
}

@media (min-width: 801px) {
  #description {
    margin-top: 130px;
  }
}

@media (min-width: 1000px) {
  #map-image {
    float: right;
    padding-left: 30px;
  }
}

@media (max-width: 999px) {
  #map-image {
    width: 100%;
  }
}

#logo {
  margin-right: 1em;
}

img {
  max-width: 100%;
  height: auto;
}

#credits {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin: 3em 0;
}

#credits > a {
  width: 20%;
}

#credits > a > img {
  width: 100%;
}

#container {
  margin: 0 -20px;
  height: 100vh !important;
}

#contact {
  max-width: 460px;
}
