version: "3.7"

x-backend-conf: &backend-conf
  image: openfoodfacts-server/backend:dev
  build:
    context: .
    dockerfile: Dockerfile
    # align user id
    args:
      USER_UID: ${USER_UID:-1000}
      USER_GID: ${USER_GID:-1000}
      CPANMOPTS: "${CPANMOPTS:---with-develop}"
  volumes:
    # mount local folder for reload on dev changes.
    # Note that this means /opt/product-opener/html/images/product wont be connected to product_images volume
    # Sadly, there is no sane way to do this, while retaining compatibility with prod
    # (which requires images/product to be empty in git)
    - ./:/opt/product-opener
    # dynamic entrypoint
    - ./docker/docker-entrypoint.sh:/docker-entrypoint.sh
    # we use this for debugging, from times to times
    - ./debug:/mnt/podata/debug/
  # Allow the container to connect to the host when using Linux.
  # This is needed to access other services that are running outside of Docker
  # e.g. when developing with Robotoff or openfoodfacts-query
  extra_hosts:
    - "host.docker.internal:host-gateway"

x-minion-db-network: &minion-db-network
  networks:
    # we need to be on default, but also on a dedicated network (ease sharing with pro in dev)
    # see also docs/dev/explain-pro-dev-setup.md
    minion_db:
    default:


services:
  postgres:
    # only turn on for off profile
    profiles: ["off"]
    <<: *minion-db-network
  backend:
    <<: [*backend-conf, *minion-db-network] 
  incron: *backend-conf
  minion:
    <<: [*backend-conf, *minion-db-network]
  # in dev we want to use watch assets and recompile on the fly
  # also we want to build at start time in case some files changed, as we want to avoid recreating volumes
  dynamicfront:
    image: openfoodfacts-server/dynamicfront:dev
    build:
      context: .
      target: builder
      dockerfile: Dockerfile.frontend
      args:
        USER_UID: ${USER_UID:-1000}
        USER_GID: ${USER_GID:-1000}
    command: ["npm", "run", "build:dynamic"]
    volumes:
      # Static dist/ assets (JS, CSS, Icons, Image attributes)
      - icons_dist:/opt/product-opener/html/images/icons/dist
      - js_dist:/opt/product-opener/html/js/dist
      - css_dist:/opt/product-opener/html/css/dist
      # mount local folder for reload on dev changes, we follow Dockerfile.frontend COPYs
      - ./package.json:/opt/product-opener/package.json
      - ./package-lock.json:/opt/product-opener/package-lock.json
      - ./html:/opt/product-opener/html
      - ./icons:/opt/product-opener/icons
      - ./scss:/opt/product-opener/scss
      - ./gulpfile.ts:/opt/product-opener/gulpfile.ts
  frontend:
    image: openfoodfacts-server/frontend:dev
    build:
      context: .
      dockerfile: Dockerfile.frontend
      args:
        USER_UID: ${USER_UID:-1000}
        USER_GID: ${USER_GID:-1000}
    volumes:
      - ./html:/opt/product-opener/html/
      - ./icons:/opt/product-opener/icons
      - ./scss:/opt/product-opener/scss
      - ./gulpfile.ts:/opt/product-opener/
      - ./snyk:/opt/product-opener/
    networks:
        default:
          aliases:
            # trick: make it possible for robotoff to reach it internally, 
            # using localhost domain
            - world.openfoodfacts.localhost
            - static.openfoodfacts.localhost
            - images.openfoodfacts.localhost
  mongodb:
    # Note: keep it as close a possible to mongodb.yml
    image: mongo:4.4
    command: mongod --wiredTigerCacheSizeGB ${MONGODB_CACHE_SIZE}
    volumes:
      - dbdata:/data/db
      - ./html/data:/import
    ports:
      - "127.0.0.1:${MONGO_EXPOSE_PORT:-27017}:27017"
  # We only add redis in dev for testing, as we have a dedicated redis service in
  # staging/prod
  redis:
    image: redis:7.2-alpine
    # we want to save every minute to disk, to avoid losing too much data
    command: redis-server --save 60 1 --loglevel warning

volumes:
  product_images:
  html_data:
  other_servers:
  products:
  # those one are volumes shared between off and pro, so we assign hard-coded names
  # see docs/dev/explain-pro-dev-setup.md
  # PO_COMMON_PREFIX is there to separate envs, eg. for tests
  users:
    name: ${PO_COMMON_PREFIX:-}po_users
  orgs:
    name: ${PO_COMMON_PREFIX:-}po_orgs
  export_files:
    name: ${PO_COMMON_PREFIX:-}po_export_files
  podata:
  dbdata:

networks:
  # this is a specific network to enable pro platform to join the postgres db
  minion_db:
    name: ${PO_COMMON_PREFIX:-}minion_db
