version: "3.7"
services:
  backend:
    image: productopener-backend-dev
    build:
      context: ../
      dockerfile: ./docker/backend/Dockerfile
      target: runnable
    volumes:
      - type: bind
        source: ./backend-dev/scripts/
        target: /opt/scripts/
      - type: bind
        source: ../
        target: /opt/product-opener/
      - ./logs/apache2:/var/log/apache2
      - ./logs/apache2:/mnt/podata/logs
      - ./logs/apache2:/var/log/httpd
  frontend:
    image: nginx:stable-alpine
    volumes:
      - type: bind
        source: ../
        target: /opt/product-opener/
      - ./logs/nginx:/var/log/nginx
