version: "3.7"
services:
  mongodb:
    image: mongo:4.2.1
    volumes:
      - dbdata:/var/lib/mongodb
    networks:
      - webnet
  memcached:
    image: memcached:1.5.16-alpine
    networks:
      - webnet
  hydra:
    image: oryd/hydra:v1.0.0-rc.6_oryOS.10-alpine
    ports:
      - 4444:4444
      - 4445:4445
      - 5555:5555
    networks:
      - webnet
    command:
      serve all --dangerous-force-http
    environment:
      - DATABASE_URL=memory
      - OAUTH2_ISSUER_URL=http://hydra.productopener.localhost/
      - OAUTH2_CONSENT_URL=http://world.productopener.localhost/cgi/consent.pl
      - OAUTH2_LOGIN_URL=http://world.productopener.localhost/cgi/login.pl
      - SYSTEM_SECRET=youReallyNeedToChangeThis
      - OAUTH2_SHARE_ERROR_DEBUG=1
      - OIDC_SUBJECT_TYPES_SUPPORTED=public,pairwise
      - OIDC_SUBJECT_TYPE_PAIRWISE_SALT=youReallyNeedToChangeThis
  postgres:
    image: postgres:12.1-alpine
    volumes:
      - pgdata:/var/lib/postgresql/data
    networks:
      - webnet
    environment:
      - POSTGRES_PASSWORD=productopener
      - POSTGRES_USER=productopener
      - POSTGRES_DB=minion
  backend:
    image: docker.pkg.github.com/openfoodfacts/openfoodfacts-server/backend:latest
    depends_on:
      - mongodb
      - memcached
      - hydra
      - postgres
    volumes:
      - podata:/mnt/podata
      - type: tmpfs
        target: /mnt/podata/mnt
      - product_images:/opt/product-opener/html/images/products
      - html_data:/opt/product-opener/html/data
      - type: bind
        source: ./backend-dev/conf/Config.pm
        target: /opt/product-opener/lib/ProductOpener/Config.pm
      - type: bind
        source: ./backend-dev/conf/Config2.pm
        target: /opt/product-opener/lib/ProductOpener/Config2.pm
      - type: bind
        source: ./backend-dev/conf/log.conf
        target: /mnt/podata/log.conf
      - type: bind
        source: ./backend-dev/conf/apache.conf
        target: /etc/apache2/sites-enabled/product-opener.conf
      - type: bind
        source: ./backend-dev/conf/po-foreground.sh
        target: /usr/local/bin/po-foreground.sh
    command: ["/bin/sh", "/usr/local/bin/po-foreground.sh"]
    networks:
      - webnet
  frontend:
    image: docker.pkg.github.com/openfoodfacts/openfoodfacts-server/frontend:latest
    depends_on:
      - backend
    volumes:
      - product_images:/opt/product-opener/html/images/products
      - html_data:/opt/product-opener/html/data
      - type: bind
        source: ./frontend-git/conf/nginx.conf
        target: /etc/nginx/conf.d/default.conf
    ports:
      - 80:80
    networks:
      - webnet
networks:
  webnet:
volumes:
  dbdata:
  pgdata:
  podata:
  product_images:
  html_data:
