include:
  - ${DEPS_DIR}/openfoodfacts-shared-services/docker-compose.yml

services:
  frontend:
    depends_on:
        backend:
          condition: service_started

  keycloak:
    extends: 
      file: ${DEPS_DIR}/openfoodfacts-auth/docker-compose.yml
      service: keycloak
    environment:
      - KEYCLOAK_BASE_URL=${KEYCLOAK_BACKCHANNEL_BASE_URL}
      - CLIENTS=OFF,http://world.openfoodfacts.localhost
      - OFF_CLIENT_SECRET=${PRODUCT_OPENER_OIDC_CLIENT_SECRET}
      - KC_BOOTSTRAP_ADMIN_USERNAME=test
      - KC_BOOTSTRAP_ADMIN_PASSWORD=test
      - KEYCLOAK_STARTUP=test
      - KEYCLOAK_TAG=main

  backend:
    depends_on:
      postgres:
        condition: service_started
      mongodb:
        condition: service_started
      dynamicfront:
        condition: service_started
      incron:
        condition: service_started
      minion:
        condition: service_started
      redis:
        condition: service_started
      redis-listener:
        condition: service_started
      keycloak:
        # Keycloak takes a while to start so need to wait until it is healthy
        condition: service_healthy
