version: "3.7"
services:
  mongodb:
    restart: always
    image: mongo:4.4
    command: mongod --wiredTigerCacheSizeGB ${MONGODB_CACHE_SIZE}
    volumes:
      - dbdata:/data/db
    environment:
      - MONGO_INITDB_ROOT_USERNAME
      - MONGO_INITDB_ROOT_PASSWORD
    ports:
      - 27017:27017
    networks:
      - db
  mongodb_exporter:
    image: bitnami/mongodb-exporter:0
    command: mongodb_exporter --discovering-mode --mongodb.uri=mongodb://${MONGO_INITDB_ROOT_USERNAME}:${MONGO_INITDB_ROOT_PASSWORD}@mongodb:27017/admin?ssl=true
    ports:
      - 9216:9216
    networks:
      - db
networks:
  db:
volumes:
  dbdata:
    external: true
  
