version: "3.7"
services:
  memcached:
    restart: always
  postgres:
    restart: always
  backend:
    restart: always
  frontend:
    restart: always
volumes:
  users:
    external: true
  products:
    external: true
  orgs:
    external: true
  product_images:
    external: true
networks:
  webnet:
    driver: bridge
    ipam:
      config:
      - subnet: 172.30.0.0/16
