body {
    background-color: #f2f2f2;
    font-size: 10pt;
}

a {
    text-decoration: none;
    color: royalblue;
}

#file_timestamp {
    margin-top: 1ex;
    margin-bottom: 1ex;
}

table {
    /*width: 100%;*/
    height: 100%;
    margin: 0 auto;
}

th {
    background-color: #201e1e;
    color: white;
}

td {
    padding-top: 3px;
    padding-left: 3px;
    padding-right: 2px;
}

.title {
    height: 135px;
    font-size: 24px;
    padding-top: 45px;
    padding-left: 7%;
    color: #f4ff81;
    font-weight: bold;
    background: #f7f7f7 url(//1.bp.blogspot.com/-INTRRGtSZwE/W6VwzrGnWXI/AAAAAAAAAJQ/5azqxo5WKgYadvTAHnZjLrQ4B3BE-L2fACK4BGAYYCw/s0/stellar_network_1bis.jpg);
    background-size: cover;
    background-repeat: no-repeat;
}

.summary {
    margin-left: 8%;
    margin-right: 8%;
    margin-top: 3em;
    margin-bottom: 4em;
}

.table_stats {
    background-color: #fcffdc;
    padding-top: 1ex;
    padding-bottom: 3ex;
    margin-left: 3%;
    margin-right: 3%;
}

#stats_table {
    font-size: 8pt;
}

#stats_labels {
    margin-top: 5ex;
    margin-bottom: 3ex;
    margin-left: 15%;
    margin-right: 15%;
    font-size: 8pt;
}

#stats_labels tr > td:first-child {
    background-color: #a8dbff;
}

.emph {
    font-style: italic;
    color: #9e3456;
}

.nickname {
    font-weight: bold;
    color: dodgerblue;
}

.img_status {
    width: 16px;
    text-align: center;
}

.img_info {
    width: 16px;
    text-align: center;
}

/* cell alignment */
.a_right {
    text-align: right;
}

.a_center {
    text-align: center;
}