/* got from https://stackoverflow.com/questions/9152416/javascript-how-to-block-the-whole-screen-while-waiting-for-ajax-response */
.blockDiv {
    position: absolute;
    top: 0px;
    left: 0px;
    background-color: #201e1e;
    width: 0px;
    height: 0px;
    z-index: 10;
}

.blockDiv > p {
    margin-top: 30%;
    font-size: x-large;
    text-align: center;
    vertical-align: middle;
    color: white;
    font-weight: bold;
}

.blockDiv > img {
    height: 480px;
    position: absolute;
    top: 30%;
    left: 50%;
    margin: -240px 0px 0px -240px;
}