/*
part of CSS is retrieved from meyertee and suited:
http://jsfiddle.net/meyertee/AH3pE/
*/

.sb {
    background-color: #e8e8e8 !important;
    border-right: 4px mediumblue inset;
}

.sb_menu_btn {
    background-color: dodgerblue;
    border: none;
    float: right;
    margin-top: -10px;
    margin-right: 5px;
}

#sb_title {
    height: 70px;
    padding-top: 1em;
    text-align: center;
    background-color: #0099ff;
    color: white;
    font-weight: bold;
    font-style: italic;
}

.sb_subtitle {
    font-size: normal;
    margin-top: 1ex;
}

.sb_item {
    padding-left: 1ex;
    padding-top: 3ex;
    padding-bottom: 2ex;
    border-bottom: 1px dashed #0099ff;
    color: #0099ff;
}

.sb_ico_menu {
    right: 0;
    width: 48px;
}

.sb_ico {
    width: 48px;
    padding-top: 3ex;
    padding-bottom: 2ex;
}

.sb_ico_big {
    width: 96px;
    bottom: 15px;
}

#sb_bottom {
    background-color: #0099ff;
    height: 100px;
}

#sb_bottom_table {
    width: 100%;
}

/* CSS for getting fixed header & footer plus flexible content with vertical scrollbar //
 retrieved from meyertee and suited:
http://jsfiddle.net/meyertee/AH3pE/
*/
/* relevant styles */
.panel {
    position: absolute;
    width: 100%;
    /*margin: 30px;*/
    max-height: 100%;
    height: 100%;

    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
}

header {
    padding: 1em;
    -moz-flex-shrink: 0;
    -webkit-flex-shrink: 0;
    -ms-flex-shrink: 0;
    flex-shrink: 0;
}

.body {
    -moz-flex-grow: 1;
    -webkit-flex-grow: 1;
    -ms-flex-grow: 1;
    flex-grow: 1;
    overflow: auto;
    min-height: 2em;
    padding: 1em;
}

footer {
    padding: 1em;
    -moz-flex-shrink: 0;
    -webkit-flex-shrink: 0;
    -ms-flex-shrink: 0;
    flex-shrink: 0;
}
