[% IF method == 'POST' || !success %]
    [% INCLUDE 'error_list.tt.html' %]
    <form method="post" action="/cgi/change_password.pl" enctype="multipart/form-data">
        <div class="row">
            <div class="large-12 columns">
                <label>
                    [% lang('password') %]
                    <input type="password" name="current_password" autocomplete="current-password" required="required" />
                </label>
            </div>
        </div>

        <div class="row">
            <div class="large-12 columns">
                <label>
                    [% lang('password_new') %]
                    <input type="password" name="password" autocomplete="new-password" required="required" />
                </label>
            </div>
        </div>

        <div class="row">
            <div class="large-12 columns">
                <label>
                    [% lang('password_confirm') %]
                    <input type="password" name="confirm_password" autocomplete="new-password" required="required" />
                </label>
            </div>
        </div>

        <div class="row">
            <div class="large-12 columns">
                <label>
                    <input type="submit" name="submit" class="button" />
                </label>
            </div>
        </div>
    </form>
[% ELSE %]
    <div data-alert class="alert-box success">
        <p>[% lang('reset_password_reset') %]</p>
    </div>
[% END %]