<!doctype html>
<html class="no-js" lang="[% language %]" data-serverdomain="[% server_domain %]" dir="[% lang('text_direction') %]">
<head>
    <meta charset="utf-8">
    <title>[% title %]</title>
    [% meta_description %]
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta property="fb:app_id" content="[% fb_config %]">
    <meta property="og:type" content="[% og_type %]">
    <meta property="og:title" content="[% canon_title %]">
    <meta property="og:url" content="[% canon_url %]">
    [% og_images %]
    [% og_images2 %]
    <meta property="og:description" content="[% canon_description %]">
    [% options_favicons %]
    <link rel="canonical" href="[% canon_url %]">
    <link rel="stylesheet" href="[% static_subdomain %]/css/dist/app-[% lang('text_direction') %].css?v=[% css_timestamp %]">
    <link rel="stylesheet" href="[% static_subdomain %]/css/dist/jqueryui/themes/base/jquery-ui.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.10/css/select2.min.css" integrity="sha256-FdatTf20PQr/rWg+cAKfl6j4/IY3oohFAJ7gVC3M34E=" crossorigin="anonymous">
    <link rel="search" href="[% formatted_subdomain %]/cgi/opensearch.pl" type="application/opensearchdescription+xml" title="[% lang('site_name') %]">
    [% header %]
    <style media="all">
        [% lang("css") %]
        [% styles %]
    </style>
    [% google_analytics %]
</head>
<body[% bodyabout %]>
<div class="title-bar" data-responsive-toggle="responsive-menu" data-hide-for="medium">
  <div class="title-bar-left"><a href="/">[% site_name %]</a></div>
  <div class="title-bar-right">
    <div class="title-bar-title">Menu</div>
	<button class="menu-icon" type="button" data-toggle="responsive-menu"></button>
  </div>
</div>
<nav class="top-bar" id="responsive-menu">
  <section class="top-bar-left">
	  <ul class="dropdown menu" data-dropdown-menu>
      <li class="menu-text name"><h2><a href="/" style="font-size:1rem;">[% site_name %]</a></h2></li>
      <li class="has-form has-dropdown" id="select_country_li">
        <label for="select_country" style="display:none">[% lang('select_country') %]</label>
        <select id="select_country" style="width:100%" data-placeholder="[% lang('select_country') %]">
          <option></option>
        </select>
      </li>
      [% IF langs.match('<a') %]
          <li class="has-dropdown">
              [% selected_lang %]
              <ul class="dropdown">
                  [% langs %]
              </ul>
          </li>
      [% END %]
    </ul>
  </section>
  <section class="top-bar-right search_and_links">
		<ul class="dropdown menu" data-dropdown-menu>
			<li class="show-for-large">
				<form action="/cgi/search.pl">
					<div class="grid-x collapse">
						<div class="cell small-8">
							<input type="text" placeholder="[% lang('search_a_product_placeholder') %]" name="search_terms" value="[% search_terms %]">
							<input name="search_simple" value="1" type="hidden">
							<input name="action" value="process" type="hidden">
						</div>
						<div class="cell small-4">
							<button type="submit" title="[% lang('search') %]" class="button expanded">[% display_icon('search') %]</button>
						</div>
					</div>
				</form>
			</li>
			<li class="show-for-large-only"><a href="/cgi/search.pl" title="[% lang('advanced_search') %]">[% display_icon('add') %]</a></li>
			<li class="show-for-xlarge"><a href="/cgi/search.pl">[% display_icon('add') %] [% lang('advanced_search') %]</span></a></li>
			<li class="show-for-large-only"><a href="/cgi/search.pl?graph=1" title="[% lang('graphs_and_maps') %]">[% display_icon('bar_chart') %]</a></li>
			<li class="show-for-xlarge"><a href="/cgi/search.pl?graph=1">[% display_icon('bar_chart') %] [% lang('graphs_and_maps') %]</span></a></li>
			[% IF !(server_options_producers_platform) %]
          <li class="show-for-large divider"></li>
          <li><a href="[% lang('menu_discover_link') %]">[% lang('menu_discover') %]</a></li>
          <li><a href="[% lang('menu_contribute_link') %]">[% lang('menu_contribute') %]</a></li>
          <li class="show-for-large-only"><a href="[% lang('get_the_app_link') %]" title="[% lang('get_the_app') %]" class="button success">[% display_icon('phone_android') %]</a></li>
          <li class="show-for-xlarge"><a href="[% lang('get_the_app_link') %]" class="button success">[% display_icon('phone_android') %] [% lang('get_the_app') %]</a></li>
      [% END %]
    </ul>
	</section>
</nav>

[% offcanvasposition = 'left' %]
[% IF lang('text_direction') == 'rtl' %]
[% offcanvasposition = 'right' %]
[% END %]
<nav class="tab-bar show-for-small-only">
	<div class="[% offcanvasposition %]-small" style="padding-top:4px;">
    <button type="button" class="button [% torso_class %]" data-toggle="offCanvas">
      [% display_icon('account_box') %]
		</button>
	</div>
	<div class="middle tab-bar-section">
		<form action="/cgi/search.pl">
			<div class="grid-x collapse">
				<div class="cell small-8">
					<input type="text" placeholder="[% lang('search_a_product_placeholder') %]" name="search_terms">
					<input name="search_simple" value="1" type="hidden">
					<input name="action" value="process" type="hidden">
				</div>
				<div class="cell small-2">
					<button type="submit" class="button postfix">[% display_icon('search') %]</button>
				</div>
				<div class="cell small-2">
					<a href="/cgi/search.pl" title="[% lang('advanced_search') %]">[% display_icon('search') %] [% display_icon('add') %]</a>
				</div>
			</div>
		</form>
	</div>
</nav>

<div class="off-canvas-wrapper">
  <aside class="off-canvas-absolute position-[% offcanvasposition %]" id="offCanvas" data-off-canvas>
    <div id="aside_column">
      [% aside_blocks %]
    </div>
  </aside>
  [% top_banner %]
  <!-- main row - comment used to remove left column and center content on some pages -->
  <div class="off-canvas-content">
    <div class="grid-x grid-padding-x full-width" data-equalizer data-off-canvas-content>
      <div class="cell xxlarge-1 xlarge-2 large-3 medium-4 hide-for-small-only"
        style="background-color:#fafafa;padding-top:1rem;" data-equalizer-watch>
        <div class="sidebar">
          <div style="text-align:center">
            <a href="/"><img id="logo" src="/images/misc/[% lang('logo') %]"
                srcset="/images/misc/[% lang('logo2x') %] 2x" width="178" height="150" alt="[% lang('site_name') %]"
                style="margin-bottom:0.5rem"></a>
          </div>
          [% tagline %]
          <form action="/cgi/search.pl" class="hide-for-large">
            <div class="grid-container">
              <div class="grid-x grid-padding-x">
                <div class="input-group">
                  <input class="input-group-field" type="text" placeholder="[% lang('search_a_product_placeholder') %]"
                    name="search_terms">
                  <input name="search_simple" value="1" type="hidden">
                  <input name="action" value="process" type="hidden">
                </div>
                <div class="input-group">
                  <button type="submit" class="button">[% display_icon('search') %]</button>
                </div>
                <div class="input-group">
                  <span class="input-group-label">
                    <a href="/cgi/search.pl" title="[% lang('advanced_search') %]">[% display_icon('add') %]</a>
                  </span>
                </div>
              </div>
            </div>
          </form>
          [% blocks %]
        </div>
      </div>
      <div id="main_column" class="cell xxlarge-11 xlarge-10 large-9 medium-8" style="padding-top:1rem"
      data-equalizer-watch>
      <!-- main column content - comment used to remove left column and center content on some pages -->
      [% INCLUDE 'donate_banner.tt.html' %]
      [% h1_title %]
      [% content_ref %]
      </div>
    </div>
  </div>
</div>

<footer class="grid-x">
	<div class="cell small-12 medium-6 large-3 off">
		<div class="title">[% lang('site_name') %]</div>
		<p>[% lang('footer_tagline') %]</p>
		<ul>
			<li><a href="[% lang('footer_legal_link') %]">[% lang('footer_legal') %]</a></li>
			<li><a href="[% lang('footer_terms_link') %]">[% lang('footer_terms') %]</a></li>
			<li><a href="[% lang('footer_data_link') %]">[% lang('footer_data') %]</a></li>
			<li><a href="[% lang('donate_link') %]">[% lang('donate') %]</a></li>
			<li><a href="[% lang('footer_producers_link') %]">[% lang('footer_producers') %]</a></li>
		</ul>
	</div>
	<div class="cell small-12 medium-6 large-3 app">
		<div class="title">[% lang('footer_install_the_app') %]</div>
		<a href="[% lang('ios_app_link') %]"><img src="[% lang('ios_app_icon_url') %]" alt="[% lang('ios_app_icon_alt_text') %]" width="120" height="40" loading="lazy"></a>
		<a href="[% lang('android_app_link') %]"><img src="https://static.openfoodfacts.org[% lang('android_app_icon_url') %]" alt="[% lang('android_app_icon_alt_text') %]" width="102" height="40" loading="lazy"></a>
		<a href="[% lang('windows_phone_app_link') %]"><img src="[% lang('windows_phone_app_icon_url') %]" alt="[% lang('windows_phone_app_icon_alt_text') %]" width="109" height="40" loading="lazy"></a>
		<a href="[% lang('android_apk_app_link') %]"><img src="https://static.openfoodfacts.org[% lang('android_apk_app_icon_url') %]" alt="[% lang('android_apk_app_icon_alt_text') %]" loading="lazy"></a>
	</div>
	<div class="cell small-12 medium-6 large-3 project">
		<div class="title">[% lang('footer_discover_the_project') %]</div>
		<ul>
			<li><a href="[% lang('footer_who_we_are_link') %]">[% lang('footer_who_we_are') %]</a></li>
			<li><a href="[% lang('footer_faq_link') %]">[% lang('footer_faq') %]</a></li>
			<li><a href="[% lang('footer_blog_link') %]">[% lang('footer_blog') %]</a></li>
			<li><a href="[% lang('footer_press_link') %]">[% lang('footer_press') %]</a></li>
			<li><a href="[% lang('footer_wiki_link') %]">[% lang('footer_wiki') %]</a></li>
			<li><a href="[% lang('footer_translators_link') %]">[% lang('footer_translators') %]</a></li>
			<li><a href="[% lang('footer_partners_link') %]">[% lang('footer_partners') %]</a></li>
			<li><a href="[% lang('footer_obf_link') %]">[% lang('footer_obf') %]</a></li>
		</ul>
	</div>
	<div class="cell small-12 medium-6 large-3 community">
		<div class="title">[% lang('footer_join_the_community') %]</div>
		<p>
			<a href="[% lang('footer_code_of_conduct_link') %]">[% lang('footer_code_of_conduct') %]</a>
			<br><br>
			[% join_us_on_slack %]
			<br>
			[% lang('footer_and_the_facebook_group') %]
			[% lang('footer_follow_us') %]
		</p>
	</div>
</footer>

<script src="[% static_subdomain %]/js/dist/modernizr.js"></script>
<script src="[% static_subdomain %]/js/dist/jquery.js"></script>
<script src="[% static_subdomain %]/js/dist/jquery-ui.js"></script>
<script src="[% static_subdomain %]/js/dist/display.js"></script>

<script>
\$(function() {
[% initjs %]
});
</script>

<script src="[% static_subdomain %]/js/dist/foundation.js"></script>
<script src="[% static_subdomain %]/js/dist/jquery.cookie.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.10/js/select2.min.js" integrity="sha256-d/edyIFneUo3SvmaFnf96hRcVBcyaOy96iMkPez1kaU=" crossorigin="anonymous"></script>
[% scripts %]
<script>
\$(document).foundation();
</script>
<script type="application/ld+json">
{
	"@context" : "https://schema.org",
	"@type" : "WebSite",
	"name" : "[% lang('site_name') %]",
	"url" : "[% formatted_subdomain %]",
	"potentialAction": {
		"@type": "SearchAction",
		"target": "[% formatted_subdomain %]/cgi/search.pl?search_terms=?{search_term_string}",
		"query-input": "required name=search_term_string"
	}
}
{
	"@context": "https://schema.org/",
	"@type": "Organization",
	"url": "[% formatted_subdomain %]",
	"logo": "/images/misc/[% lang('logo') %]",
	"name": "[% lang('site_name') %]",
	"sameAs" : [ "[% lang("facebook_page") %]", "https://twitter.com/[% twitter_account %]"]
}
</script>
</body>
</html>
