[% IF banner %]
<div id="donate_banner" class="row">
	<div class="small-12 large-12 xlarge-8 xxlarge-7 columns">
		<div id="image_banner" style="margin-bottom:1rem;" class="panel callout">
		[% IF lc == ( 'fr' ) %]
		
			<h2>Important : nous avons besoin de votre soutien !</h2>
			<p>Open Food Facts est un projet collaboratif porté par des dizaines de milliers de bénévoles
			et géré par une association à but non-lucratif avec 3 salariés.<br>
			Nous avons besoin de vos dons pour <a href="[% link %]?utm_source=off&utm_medium=web&utm_campaign=donate-2020&utm_term=fr-text">financer le budget 2021 d'Open Food Facts</a>
			et continuer à développer le projet. <strong>Merci ! ❤️</strong></p>
			<div class="row">
				<div class="small-12 large-4 columns">
			<a href="[% link %]?utm_source=off&utm_medium=web&utm_campaign=donate-2020&utm_term=fr-text-button" class="button round" style="margin-bottom:0">
				Faire un don
			</a>
		
		[% ELSIF lc == ( 'de' ) %]

			<h2>Wichtig: Wir brauchen deine Hilfe!</h2>
			<p>Open Food Facts ist ein kollaboratives Projekt, welches von zehntausenden Freiwilligen erstellt und von einer Non-Profit-Organisation mit 3 Angestellten gemanagt wird.<br>
			Wir brauchen eure Spenden, <a href="[% link %]?utm_source=off&utm_medium=web&utm_campaign=donate-2020&utm_term=de-text">um das Open Food Facts Budget 2021 zu finanzieren</a>
			und das Projekt fortzuführen und weiterzuentwicken. <strong>Danke! ❤️</strong></p>
			<div class="row">
				<div class="small-12 large-4 columns">
			<a href="[% link %]?utm_source=off&utm_medium=web&utm_campaign=donate-2020&utm_term=de-text-button" class="button round" style="margin-bottom:0">
				Spenden
			</a>

		[% ELSE %]

			<h2>Important: we need your support!</h2>
			<p>Open Food Facts is a collaborative project built by tens of thousands of volunteers
			and managed by a non-profit organization with 3 employees.<br>
			We need your donations to <a href="[% link %]?utm_source=off&utm_medium=web&utm_campaign=donate-2020&utm_term=en-text">fund the Open Food Facts 2021 budget</a>
			and to continue to develop the project. <strong>Thank you! ❤️</strong></p>
			<div class="row">
				<div class="small-12 large-4 columns">
			<a href="[% link %]?utm_source=off&utm_medium=web&utm_campaign=donate-2020&utm_term=en-text-button" class="button round" style="margin-bottom:0">
				Donate
			</a>

		[% END %]
				</div>
				<div class="small-12 large-8 columns">
					<input id="hide_image_banner" type="checkbox" style="margin-top:1.5rem;margin-bottom:0;">
					<label for="hide_image_banner">
						<span id="hide_image_banner_hide">[% lang('donation_banner_hide') %]</span>
					</label>
				</div>
			</div>
		</div>
	</div>
</div>
[% END %]
