<p>
  <a data-dropdown="ecoscore_drop" aria-controls="ecoscore_drop" aria-expanded="false">[% lang('ecoscore_calculation_details') %] &raquo;</a>
</p>
<div id="ecoscore_drop" data-dropdown-content class="f-dropdown content large" aria-hidden="true" tabindex="-1">

	<h3>[% lang('ecoscore_product_category_reference_score') %]</h3>

	<div class="row">
	<div class="small-12 columns">
		<div class="panel ecoscore_panel" id="ecoscore_panel_lca">
	<h4>[% display_icon('lca') %] [% lang('ecoscore_panel_lca') %]</h4>
	
	[% IF agribalyse.code %]
	
	<p>
		[% lang('agribalyse_category') %] Agribalyse category</a> : <a href="https://www.agribalyse.fr/app/aliments/[% agribalyse.code %]" title="
		[% IF agribalyse.agribalyse_proxy_food_code %]
			[% lang('category_proxy_match') %]
		[% ELSE %]
      [% lang('category_exact_match') %]
		[% END %]
		">
		[% agribalyse.name_fr %]</a>
	</p>
	<ul>
		<li>[% lang('pef_environmental_score') %]PEF environmental score: [% agribalyse.ef_total FILTER format("%.2f"); %] [% lang('lower_the_score_lower_the_impact') %](the lower the score, the lower the impact)</li>
		<li>[% lang('incl_climate_change_impact') %]- including impact on climate change: [% agribalyse.co2_total FILTER format("%.2f"); %] [% lang('kg_co2_eq_kg_product') %] kg CO2 eq/kg of product</li>
	</ul>
	
		<table id="agribalyse_impacts">
			<caption style="text-align:left">[% lang('impact_detail_by_stages') %]Details of the impacts by stages of the life cycle</caption>
			<tr>
				<th scope="col">[% lang('stage') %]</th>
				<th scope="colgroup" colspan="2">[% lang('impact') %]</th>
			</tr>
			<tr>
				<td>[% display_icon('agriculture') %] [% lang('agriculture') %]</td>
				<td style="text-align:right">[% (100 * agribalyse.ef_agriculture / agribalyse.ef_total) FILTER format("%.1f"); %]%</td>
				<td style="width:220px;" class="show-for-large-up">
					<div class="agribalyse_impact_bar_full">
						<div class="agribalyse_impact_bar" style="width:[% round(200 * agribalyse.ef_agriculture / agribalyse.ef_total)%]px;"></div>
					</div>
				</td>
			</tr>
			<tr>
				<td>[% display_icon('processing') %] [% lang('transformation') %]</td>
				<td style="text-align:right">[% (100 * agribalyse.ef_processing / agribalyse.ef_total) FILTER format("%.1f"); %]%</td>
				<td style="width:200px;" class="show-for-large-up">
					<div class="agribalyse_impact_bar_full">
						<div class="agribalyse_impact_bar"  style="width:[% round(200 * agribalyse.ef_processing / agribalyse.ef_total)%]px;"></div>
					</div>
				</td>				
			</tr>
			<tr>
				<td>[% display_icon('packaging') %] [% lang('packaging') %]</td>
				<td style="text-align:right">[% (100 * agribalyse.ef_packaging / agribalyse.ef_total) FILTER format("%.1f"); %]%</td>
				<td style="width:200px;" class="show-for-large-up">
					<div class="agribalyse_impact_bar_full">
						<div class="agribalyse_impact_bar"  style="width:[% round(200 * agribalyse.ef_packaging / agribalyse.ef_total)%]px;"></div>
					</div>
				</td>				
			</tr>
			<tr>
				<td>[% display_icon('truck') %] [% lang('transportation') %]</td>
				<td style="text-align:right">[% (100 * agribalyse.ef_transportation / agribalyse.ef_total) FILTER format("%.1f"); %]%</td>
				<td style="width:200px;" class="show-for-large-up">
					<div class="agribalyse_impact_bar_full">
						<div class="agribalyse_impact_bar"  style="width:[% round(200 * agribalyse.ef_transportation / agribalyse.ef_total)%]px;"></div>
					</div>
				</td>				
			</tr>
			<tr>
				<td>[% display_icon('cart') %] [% lang('distribution') %]</td>
				<td style="text-align:right">[% (100 * agribalyse.ef_distribution / agribalyse.ef_total) FILTER format("%.1f"); %]%</td>
				<td style="width:200px;" class="show-for-large-up">
					<div class="agribalyse_impact_bar_full">
						<div class="agribalyse_impact_bar"  style="width:[% round(200 * agribalyse.ef_distribution / agribalyse.ef_total)%]px;"></div>
					</div>
				</td>				
			</tr>
			<tr>
				<td>[% display_icon('cooking-pan') %] [% lang('consumption') %]</td>
				<td style="text-align:right">[% (100 * agribalyse.ef_consumption / agribalyse.ef_total) FILTER format("%.1f"); %]%</td>
				<td style="width:200px;" class="show-for-large-up">
					<div class="agribalyse_impact_bar_full">
						<div class="agribalyse_impact_bar"  style="width:[% round(200 * agribalyse.ef_consumption / agribalyse.ef_total)%]px;background-color:#ffbb88;height:1.2rem;"></div>
					</div>
				</td>				
			</tr>
		</table>	
	
	<p>
		<strong>[% lang('lca_score_on_100') %] [% round(agribalyse.score) %]</strong>
	</p>
	
	[% ELSE %]
	<div class="panel warning">
		<strong>[% lang('no_agribalyse_category_match') %]</strong><br><br>
		[% lang('edit_category_to_more_granular') %]<br><br>
		[% lang('platform_prompt_ecoscore_modal') %]If you are the manufacturer of this product, you can send us the information with our <a href="https://world.pro.openfoodfacts.org">free platform for producers</a>.
	</div>
	[% END %]
	
	</div>
	</div>
	</div>

	<h3>[% lang('additional_bonuses_and_maluses') %]</h3>
	
	<div class="row" data-equalizer="ecoscore1">
	
	<div class="small-12 large-6 columns">
		 <div class="panel ecoscore_panel" id="ecoscore_panel_production_system" data-equalizer-watch="ecoscore1">
	<h4>[% display_icon('agriculture') %] [% lang('production_mode') %]Production mode</h4>
	
	[% IF adjustments.production_system.value %]
		<p><strong>[% lang('label') %]Label [% display_taxonomy_tag("labels",adjustments.production_system.label) %] : +[% adjustments.production_system.value %]</strong></p>
	[% ELSE %]
		<p>[% lang('no_labels_taken_into_account') %]</p>
		
	[% IF adjustments.production_system.warning %]
		<div class="panel warning">
			[% lang('please_add_the_labels') %]If this product has a label characterizing the production system (organic, fair trade, Label Rouge, Bleu Blanc Coeur etc.), you can modify the product sheet to add it.<br><br>
			[% lang('platform_prompt_ecoscore_modal') %]If you are the manufacturer of this product, you can send us the information with our <a href="https://world.pro.openfoodfacts.org">free platform for producers</a>.
		</div>
	[% END %]		
		
	[% END %]
	</div>
	</div>
	
	<div class="small-12 large-6 columns">	
		 <div class="panel ecoscore_panel" id="ecoscore_panel_origins" data-equalizer-watch="ecoscore1">
	<h4>[% display_icon('public') %] [% lang('origin_of_ingredients') %]</h4>
	
	[% IF adjustments.origins_of_ingredients.aggregated_origins %]
		<ul>
			[% FOREACH origin IN adjustments.origins_of_ingredients.aggregated_origins %]
				<li>[% display_taxonomy_tag("origins",origin.origin) %]: [% round(origin.percent) %]%</li>
			[% END %]
		</ul>
	[% END %]
	
	[% IF adjustments.origins_of_ingredients.warning %]
		<div class="panel warning">
			<strong>[% lang('ingredients_not_indicated') %]The origins of the ingredients of this product are not indicated.</strong><br><br>
			[% lang('please_add_the_ingredients') %]If they are indicated on the packaging, you can modify the product sheet and add them.<br><br>
			[% lang('platform_prompt_ecoscore_modal') %]If you are the manufacturer of this product, you can send us the information with our <a href="https://world.pro.openfoodfacts.org">free platform for producers</a>.
		</div>
	[% END %]

	<p>
		<strong>[% lang('environmental_policy') %] [% IF adjustments.origins_of_ingredients.epi_value > 0 %]+[% END %][% round(adjustments.origins_of_ingredients.epi_value) %]</strong><br>
		<strong>[% lang('transportation') %] [% IF adjustments.origins_of_ingredients.transportation_value > 0 %]+[% END %][% round(adjustments.origins_of_ingredients.transportation_value) %]</strong><br>
	</p>
	</div>
	</div>
	</div>
	
	<div class="row" data-equalizer="ecoscore2">
	
	<div class="small-12 large-6 columns">
		 <div class="panel ecoscore_panel" id="ecoscore_panel_threatened_species" data-equalizer-watch="ecoscore2">
	<h4>[% display_icon('monkey_unhappy') %] [% lang('threatened_species') %]</h4>
	
	[% IF adjustments.threatened_species.value %]
		<p>[% lang('ingredients_whose_cultivation_threatens_species') %]</p>
		<ul>
			<li>[% display_taxonomy_tag("ingredients",adjustments.threatened_species.ingredient) %]</li>
		</ul>
		<p><strong>[% lang('threatened_species') %]Threatened species : [% adjustments.threatened_species.value %]</strong></p>
	[% ELSE %]
		<p>[% lang('no_species_threatening_ingredients') %]No ingredient which cultivation threatens species has been detected.</p>
	[% END %]
	
	[% IF adjustments.threatened_species.warning %]
		<div class="panel warning">
			<strong>[% lang('ingredients_unknown') %]</strong><br><br>
			[% lang('edit_for_more_precise_ecoscore') %]<br><br>
			[% lang('platform_prompt_ecoscore_modal') %]If you are the manufacturer of this product, you can send us the information with our <a href="https://world.pro.openfoodfacts.org">free platform for producers</a>.
		</div>
	[% END %]	
	
	</div>
	</div>
	
	<div class="small-12 large-6 columns">
		 <div class="panel ecoscore_panel" id="ecoscore_panel_packaging" data-equalizer-watch="ecoscore2">
	
	<h4>[% display_icon('packaging') %] [% lang('packaging') %]</h4>
	
	[% IF adjustments.packaging.packagings && adjustments.packaging.packagings.size %]
		<ul>
			[% FOREACH packaging IN adjustments.packaging.packagings %]
				<li>
					[% display_taxonomy_tag("packaging_shapes",packaging.shape) %]
					[% lang('packaging_ratio') %](ratio : [% packaging.ecoscore_shape_ratio %])
					-
					[% display_taxonomy_tag("packaging_materials",packaging.material) %]
					[% lang('packaging_score') %](score : [% packaging.ecoscore_material_score %])
				</li>
			[% END %]
		</ul>
		<p>[% lang('score_of_all_components') %] [% adjustments.packaging.score %]</p>
		
		<p><strong>[% lang('packaging_enum') %]Packaging : [% IF adjustments.packaging.value > 0 %]+[% END %][% adjustments.packaging.value %]</strong></p>
	[% END %]
	
	[% IF adjustments.packaging.warning %]
		<div class="panel warning">
			<strong>
				[% IF adjustments.packaging.warning == "packaging_data_missing" %]
					[% lang('no_packaging_information') %]
				[% ELSE %]
					[% lang('unprecise_packaging_information') %]The information on the packaging of this product is not sufficiently precise (exact shapes and materials of all components of the packaging).
				[% END %]
			</strong>
			<br><br>
			[% lang('edit_for_more_precise_ecoscore') %]<br><br>
			[% lang('platform_prompt_ecoscore_modal') %]If you are the manufacturer of this product, you can send us the information with our <a href="https://world.pro.openfoodfacts.org">free platform for producers</a>.
		</div>
	[% END %]

	</div>
	</div>
	</div>
	
	<h3>[% lang('final_score') %]</h3>

	<p><strong>[% lang('ecoscore_score') %][% sep %]: [% round(score) %]</strong>
	- <strong>[% lang('ecoscore_grade') %][% sep %]: [% grade FILTER ucfirst %]</strong></p>

</div>
