<h2>[% lang('ecoscore_calculation_details') %]</h2>

	<h3>Score de référence de la catégorie du produit</h3>

	<h4>♺ Analyse de cycle de vie (ACV)</h4>
	
	[% IF agribalyse.code %]
	
	<p>
		Catégorie Agribalyse</a> : <a href="https://agribalyse.ademe.fr/app/aliments/[% agribalyse.code %]" title="
		[% IF agribalyse.agribalyse_proxy_food_code %]
			Correspondance approchée avec la catégorie du produit
		[% ELSE %]
			Correspondance exacte avec la catégorie du produit
		[% END %]
		">
		[% agribalyse.name_fr %]</a>
	</p>
	
	<ul>
		<li>Score environnemental PEF : [% agribalyse.ef_total FILTER format("%.2f"); %] (plus le score est bas, plus l'impact est faible)</li>
		<li>- dont impact sur le changement climatique : [% agribalyse.co2_total FILTER format("%.2f"); %] kg CO2 eq/kg de produit</li>
	</ul>
	
	<h5>Détail des impacts par étapes du cycle de vie</h5>
	
	🚜 Agriculture : [% (100 * agribalyse.ef_agriculture / agribalyse.ef_total) FILTER format("%.1f"); %]%<br>
	
	🏭 Transformation : [% (100 * agribalyse.ef_processing / agribalyse.ef_total) FILTER format("%.1f"); %]%<br>
	
	🥫 Emballage : [% (100 * agribalyse.ef_packaging / agribalyse.ef_total) FILTER format("%.1f"); %]%<br>
	
	🚚 Transport : [% (100 * agribalyse.ef_transportation / agribalyse.ef_total) FILTER format("%.1f"); %]%<br>
	
	🛒 Distribution : [% (100 * agribalyse.ef_distribution / agribalyse.ef_total) FILTER format("%.1f"); %]%<br>
	
	🍳 Consommation : [% (100 * agribalyse.ef_consumption / agribalyse.ef_total) FILTER format("%.1f"); %]%<br>
	
	<p>
		<strong>Score ACV sur 100 : [% round(agribalyse.score) %]</strong>
	</p>
	
	[% ELSE %]
	<div class="panel warning">
		<strong>Pas de correspondance entre les catégories du produit et les catégories Agribalyse.</strong><br><br>
		Vous pouvez modifier la fiche produit pour ajouter une catégorie plus fine.<br><br>
		Si vous êtes le fabricant de ce produit, vous pouvez nous transmettre les informations avec notre <a href="https://fr.pro.openfoodfacts.org">plateforme gratuite pour les producteurs</a>.
	</div>
	[% END %]
	
	</div>
	</div>
	</div>

	<h3>Bonus et malus complémentaires</h3>
	

	<h4>🚜 Mode de production</h4>
	
	[% IF adjustments.production_system.value %]
		<p><strong>Label [% display_taxonomy_tag("labels",adjustments.production_system.label) %] : +[% adjustments.production_system.value %]</strong></p>
	[% ELSE %]
		<p>Pas de labels pris en compte pour le système de production.</p>
		
	[% IF adjustments.production_system.warning %]
		<div class="panel warning">
			Si ce produit a un label caractérisant le système de production (bio, commerce équitable, Label Rouge, Bleu Blanc Coeur etc.), vous pouvez modifier la fiche produit pour l'ajouter.<br><br>
			Si vous êtes le fabricant de ce produit, vous pouvez nous transmettre les informations avec notre <a href="https://fr.pro.openfoodfacts.org">plateforme gratuite pour les producteurs</a>.
		</div>
	[% END %]		
		
	[% END %]

	<h4>🌎 Origine des ingrédients</h4>
	
	[% IF adjustments.origins_of_ingredients.aggregated_origins %]
		<ul>
			[% FOREACH origin IN adjustments.origins_of_ingredients.aggregated_origins %]
				<li>[% display_taxonomy_tag("origins",origin.origin) %]: [% round(origin.percent) %]%</li>
			[% END %]
		</ul>
	[% END %]
	
	[% IF adjustments.origins_of_ingredients.warning %]
		<div class="panel warning">
			<strong>Les origines des ingrédients de ce produit ne sont pas renseignées.</strong><br><br>
			Si elles sont indiquées sur l'emballage, vous pouvez modifier la fiche produit et les ajouter.<br><br>
			Si vous êtes le fabricant de ce produit, vous pouvez nous transmettre les informations avec notre <a href="https://fr.pro.openfoodfacts.org">plateforme gratuite pour les producteurs</a>.
		</div>
	[% END %]

	<p>
		<strong>Politique environnementale : [% IF adjustments.origins_of_ingredients.epi_value > 0 %]+[% END %][% round(adjustments.origins_of_ingredients.epi_value) %]</strong><br>
		<strong>Transport : [% IF adjustments.origins_of_ingredients.transportation_value > 0 %]+[% END %][% round(adjustments.origins_of_ingredients.transportation_value) %]</strong><br>
	</p>


	<h4>🌴 Espèces menacées</h4>
	
	[% IF adjustments.threatened_species.value %]
		<p>Ingrédients dont la culture menace des espèces :</p>
		<ul>
			<li>[% display_taxonomy_tag("ingredients",adjustments.threatened_species.ingredient) %]</li>
		</ul>
		<p><strong>Espèces menacées : [% adjustments.threatened_species.value %]</strong></p>
	[% ELSE %]
		<p>Aucun ingrédient dont la culture menace des espèces n'a été détecté.</p>
	[% END %]

	
	<h4>🥫 Emballage</h4>
	
	[% IF adjustments.packaging.packagings && adjustments.packaging.packagings.size %]
		<ul>
			[% FOREACH packaging IN adjustments.packaging.packagings %]
				<li>
					[% display_taxonomy_tag("packaging_shapes",packaging.shape) %]
					(ratio : [% packaging.ecoscore_shape_ratio %])
					-
					[% display_taxonomy_tag("packaging_materials",packaging.material) %]
					(score : [% packaging.ecoscore_material_score %])
				</li>
			[% END %]
		</ul>
		<p>Score de tous les composants : [% adjustments.packaging.score %]</p>
		
		<p><strong>Emballage : [% IF adjustments.packaging.value > 0 %]+[% END %][% adjustments.packaging.value %]</strong></p>
	[% END %]
	
	[% IF adjustments.packaging.warning %]
		<div class="panel warning">
			<strong>Les informations sur l'emballage de ce produit ne sont pas renseignées.</strong><br><br>
			Pour un calcul plus précis de l'Eco-Score, vous pouvez modifier la fiche produit et les ajouter.<br><br>
			Si vous êtes le fabricant de ce produit, vous pouvez nous transmettre les informations avec notre <a href="https://fr.pro.openfoodfacts.org">plateforme gratuite pour les producteurs</a>.
		</div>
	[% END %]		


	<h3>Score final</h3>

	<p><strong>[% lang('ecoscore_score') %][% sep %]: [% round(score) %]</strong>
	- <strong>[% lang('ecoscore_grade') %][% sep %]: [% grade FILTER ucfirst %]</strong></p>


