<p>
  <a data-dropdown="ecoscore_drop" aria-controls="ecoscore_drop" aria-expanded="false">[% lang('ecoscore_calculation_details') %] &raquo;</a>
</p>
<div id="ecoscore_drop" data-dropdown-content class="f-dropdown content large" aria-hidden="true" tabindex="-1">

	<h3>ecoscore_product_category_reference_score Score de référence de la catégorie du produit</h3>

	<div class="row">
	<div class="small-12 columns">
		<div class="panel ecoscore_panel" id="ecoscore_panel_lca">
	<h4>[% display_icon('lca') %] ecoscore_panel_lca Lifecyle Analysis (LCA) Analyse de cycle de vie (ACV)</h4>
	
	[% IF agribalyse.code %]
	
	<p>
		Catégorie Agribalyse</a> : <a href="https://www.agribalyse.fr/app/aliments/[% agribalyse.code %]" title="
		[% IF agribalyse.agribalyse_proxy_food_code %]
			Approximate correspondence with the product category
      Correspondance approchée avec la catégorie du produit
		[% ELSE %]
			Correspondance exacte avec la catégorie du produit
      Exact match with product category
		[% END %]
		">
		[% agribalyse.name_fr %]</a>
	</p>
	<ul>
		<li>PEF environmental score: [% agribalyse.ef_total FILTER format("%.2f"); %] (the lower the score, the lower the impact)</li>
		<li>- including impact on climate change: [% agribalyse.co2_total FILTER format("%.2f"); %] kg CO2 eq/kg de produit</li>
	</ul>
	
		<table id="agribalyse_impacts">
			<caption style="text-align:left">Details of the impacts by stages of the life cycle</caption>
			<tr>
				<th scope="col">Stage</th>
				<th scope="colgroup" colspan="2">Impact</th>
			</tr>
			<tr>
				<td>[% display_icon('agriculture') %] Agriculture</td>
				<td style="text-align:right">[% (100 * agribalyse.ef_agriculture / agribalyse.ef_total) FILTER format("%.1f"); %]%</td>
				<td style="width:220px;" class="show-for-large-up">
					<div class="agribalyse_impact_bar_full">
						<div class="agribalyse_impact_bar" style="width:[% round(200 * agribalyse.ef_agriculture / agribalyse.ef_total)%]px;"></div>
					</div>
				</td>
			</tr>
			<tr>
				<td>[% display_icon('processing') %] Transformation</td>
				<td style="text-align:right">[% (100 * agribalyse.ef_processing / agribalyse.ef_total) FILTER format("%.1f"); %]%</td>
				<td style="width:200px;" class="show-for-large-up">
					<div class="agribalyse_impact_bar_full">
						<div class="agribalyse_impact_bar"  style="width:[% round(200 * agribalyse.ef_processing / agribalyse.ef_total)%]px;"></div>
					</div>
				</td>				
			</tr>
			<tr>
				<td>[% display_icon('packaging') %] Packaging</td>
				<td style="text-align:right">[% (100 * agribalyse.ef_packaging / agribalyse.ef_total) FILTER format("%.1f"); %]%</td>
				<td style="width:200px;" class="show-for-large-up">
					<div class="agribalyse_impact_bar_full">
						<div class="agribalyse_impact_bar"  style="width:[% round(200 * agribalyse.ef_packaging / agribalyse.ef_total)%]px;"></div>
					</div>
				</td>				
			</tr>
			<tr>
				<td>[% display_icon('truck') %] Transportation</td>
				<td style="text-align:right">[% (100 * agribalyse.ef_transportation / agribalyse.ef_total) FILTER format("%.1f"); %]%</td>
				<td style="width:200px;" class="show-for-large-up">
					<div class="agribalyse_impact_bar_full">
						<div class="agribalyse_impact_bar"  style="width:[% round(200 * agribalyse.ef_transportation / agribalyse.ef_total)%]px;"></div>
					</div>
				</td>				
			</tr>
			<tr>
				<td>[% display_icon('cart') %] Distribution</td>
				<td style="text-align:right">[% (100 * agribalyse.ef_distribution / agribalyse.ef_total) FILTER format("%.1f"); %]%</td>
				<td style="width:200px;" class="show-for-large-up">
					<div class="agribalyse_impact_bar_full">
						<div class="agribalyse_impact_bar"  style="width:[% round(200 * agribalyse.ef_distribution / agribalyse.ef_total)%]px;"></div>
					</div>
				</td>				
			</tr>
			<tr>
				<td>[% display_icon('cooking-pan') %]Consommation</td>
				<td style="text-align:right">[% (100 * agribalyse.ef_consumption / agribalyse.ef_total) FILTER format("%.1f"); %]%</td>
				<td style="width:200px;" class="show-for-large-up">
					<div class="agribalyse_impact_bar_full">
						<div class="agribalyse_impact_bar"  style="width:[% round(200 * agribalyse.ef_consumption / agribalyse.ef_total)%]px;background-color:#ffbb88;height:1.2rem;"></div>
					</div>
				</td>				
			</tr>
		</table>	
	
	<p>
		<strong>Score ACV sur 100 : [% round(agribalyse.score) %]</strong>
	</p>
	
	[% ELSE %]
	<div class="panel warning">
		<strong>Pas de correspondance entre les catégories du produit et les catégories Agribalyse.</strong><br><br>
		Vous pouvez modifier la fiche produit pour ajouter une catégorie plus fine.<br><br>
		Si vous êtes le fabricant de ce produit, vous pouvez nous transmettre les informations avec notre <a href="https://fr.pro.openfoodfacts.org">plateforme gratuite pour les producteurs</a>.
	</div>
	[% END %]
	
	</div>
	</div>
	</div>

	<h3>Bonus et malus complémentaires</h3>
	
	<div class="row" data-equalizer="ecoscore1">
	
	<div class="small-12 large-6 columns">
		 <div class="panel ecoscore_panel" id="ecoscore_panel_production_system" data-equalizer-watch="ecoscore1">
	<h4>[% display_icon('agriculture') %] Mode de production</h4>
	
	[% IF adjustments.production_system.value %]
		<p><strong>Label [% display_taxonomy_tag("labels",adjustments.production_system.label) %] : +[% adjustments.production_system.value %]</strong></p>
	[% ELSE %]
		<p>Pas de labels pris en compte pour le système de production.</p>
		
	[% IF adjustments.production_system.warning %]
		<div class="panel warning">
			Si ce produit a un label caractérisant le système de production (bio, commerce équitable, Label Rouge, Bleu Blanc Coeur etc.), vous pouvez modifier la fiche produit pour l'ajouter.<br><br>
			Si vous êtes le fabricant de ce produit, vous pouvez nous transmettre les informations avec notre <a href="https://fr.pro.openfoodfacts.org">plateforme gratuite pour les producteurs</a>.
		</div>
	[% END %]		
		
	[% END %]
	</div>
	</div>
	
	<div class="small-12 large-6 columns">	
		 <div class="panel ecoscore_panel" id="ecoscore_panel_origins" data-equalizer-watch="ecoscore1">
	<h4>[% display_icon('public') %] Origine des ingrédients</h4>
	
	[% IF adjustments.origins_of_ingredients.aggregated_origins %]
		<ul>
			[% FOREACH origin IN adjustments.origins_of_ingredients.aggregated_origins %]
				<li>[% display_taxonomy_tag("origins",origin.origin) %]: [% round(origin.percent) %]%</li>
			[% END %]
		</ul>
	[% END %]
	
	[% IF adjustments.origins_of_ingredients.warning %]
		<div class="panel warning">
			<strong>Les origines des ingrédients de ce produit ne sont pas renseignées.</strong><br><br>
			Si elles sont indiquées sur l'emballage, vous pouvez modifier la fiche produit et les ajouter.<br><br>
			Si vous êtes le fabricant de ce produit, vous pouvez nous transmettre les informations avec notre <a href="https://fr.pro.openfoodfacts.org">plateforme gratuite pour les producteurs</a>.
		</div>
	[% END %]

	<p>
		<strong>Politique environnementale : [% IF adjustments.origins_of_ingredients.epi_value > 0 %]+[% END %][% round(adjustments.origins_of_ingredients.epi_value) %]</strong><br>
		<strong>Transport : [% IF adjustments.origins_of_ingredients.transportation_value > 0 %]+[% END %][% round(adjustments.origins_of_ingredients.transportation_value) %]</strong><br>
	</p>
	</div>
	</div>
	</div>
	
	<div class="row" data-equalizer="ecoscore2">
	
	<div class="small-12 large-6 columns">
		 <div class="panel ecoscore_panel" id="ecoscore_panel_threatened_species" data-equalizer-watch="ecoscore2">
	<h4>[% display_icon('monkey_unhappy') %] Espèces menacées</h4>
	
	[% IF adjustments.threatened_species.value %]
		<p>Ingrédients dont la culture menace des espèces :</p>
		<ul>
			<li>[% display_taxonomy_tag("ingredients",adjustments.threatened_species.ingredient) %]</li>
		</ul>
		<p><strong>Espèces menacées : [% adjustments.threatened_species.value %]</strong></p>
	[% ELSE %]
		<p>Aucun ingrédient dont la culture menace des espèces n'a été détecté.</p>
	[% END %]
	
	[% IF adjustments.threatened_species.warning %]
		<div class="panel warning">
			<strong>The information on the ingredients of this product has not been given.</strong><br><br>
			For a more precise calculation of the Eco-Score, you can edit the product page and add them.<br><br>
			If you are the manufacturer of this product, you can send us the information with our <a href="https://world.pro.openfoodfacts.org">free platform for producers</a>.
		</div>
	[% END %]	
	
	</div>
	</div>
	
	<div class="small-12 large-6 columns">
		 <div class="panel ecoscore_panel" id="ecoscore_panel_packaging" data-equalizer-watch="ecoscore2">
	
	<h4>[% display_icon('packaging') %] Packaging</h4>
	
	[% IF adjustments.packaging.packagings && adjustments.packaging.packagings.size %]
		<ul>
			[% FOREACH packaging IN adjustments.packaging.packagings %]
				<li>
					[% display_taxonomy_tag("packaging_shapes",packaging.shape) %]
					(ratio : [% packaging.ecoscore_shape_ratio %])
					-
					[% display_taxonomy_tag("packaging_materials",packaging.material) %]
					(score : [% packaging.ecoscore_material_score %])
				</li>
			[% END %]
		</ul>
		<p>Score of all components: [% adjustments.packaging.score %]</p>
		
		<p><strong>Emballage : [% IF adjustments.packaging.value > 0 %]+[% END %][% adjustments.packaging.value %]</strong></p>
	[% END %]
	
	[% IF adjustments.packaging.warning %]
		<div class="panel warning">
			<strong>
				[% IF adjustments.packaging.warning == "packaging_data_missing" %]
					The information on the packaging of this product is not provided.
				[% ELSE %]
					The information on the packaging of this product is not sufficiently precise (exact shapes and materials of all components of the packaging).
				[% END %]
			</strong>
			<br><br>
			Pour un calcul plus précis de l'Eco-Score, vous pouvez modifier la fiche produit et les ajouter.<br><br>
			Si vous êtes le fabricant de ce produit, vous pouvez nous transmettre les informations avec notre <a href="https://fr.pro.openfoodfacts.org">plateforme gratuite pour les producteurs</a>.
		</div>
	[% END %]

	</div>
	</div>
	</div>
	
	<h3>Score final</h3>

	<p><strong>[% lang('ecoscore_score') %][% sep %]: [% round(score) %]</strong>
	- <strong>[% lang('ecoscore_grade') %][% sep %]: [% grade FILTER ucfirst %]</strong></p>

</div>
