[% IF comparisons.defined %]
    <p> [% lang('nutrition_data_comparison_with_categories') %] </p>

        [% FOREACH comparison IN comparisons %]
            <label style="display:inline;font-size:1rem;">
				<input type="checkbox" id="[% comparison.id %]" name="[% comparison.id %]" value="on" [% IF comparison.checked %]checked="checked"[% END %] class="show_comparison"> [% comparison.name %]</label>

            [% IF comparison.count.defined %]
                <a href=[% comparison.link %]> ([% comparison.count %] [% lang('products') %])</a>
            [% END %]

        <br>

        [% END %]

[% END %]

    <br>
    <input type="radio" id="nutrition_data_compare_percent" value="compare_percent" name="nutrition_data_compare_type" checked>
    <label for="nutrition_data_compare_percent">[% lang('nutrition_data_compare_percent') %]</label>
    <input type="radio" id="nutrition_data_compare_value" value="compare_value" name="nutrition_data_compare_type">
    <label for="nutrition_data_compare_value">[% lang('nutrition_data_compare_value') %]</label>

    <p class="note">&rarr; [% lang('nutrition_data_comparison_with_categories_note') %]</p>

[% IF category_stats.defined %]

        <div><input id="show_stats" type="checkbox">
            [% lang('show_category_stats') %]
            <label for="show_stats"><span class="show-for-xlarge-up"> 
                [% separator_before_colon(lc) %]: [% lang('show_category_stats_details') %]
            </span></label>
        </div>>
        
[% END %]


<table id="nutrition_data_table" class="data_table">

    [% FOREACH group IN table_group %]

        [% FOREACH tablehead IN group.header %]
            <thead class="nutriment_header">
                <tr>
                    <th>
                        [% tablehead.title %]
                    </th>
                    
                    [% FOREACH tableheadvalue IN tablehead.columnValue %]
                        <th class = "nutriment_value [% tableheadvalue.colclass %] [% tableheadvalue.col %]">
                            [% tableheadvalue.colname %]
                        </th>
                    [% END %]

                </tr>
            </thead>
            
        [% END %]

        <tbody>
            [% FOREACH tablerow IN group.rows %]

                <tr id=[% "nutriment_" _ tablerow.nid _ "_tr" %]  class=[% "nutriment_" _ tablerow.class %]>
                
                    <td class="nutriment_label">
                        [% tablerow.name %]
                    </td>
                    
                    [% FOREACH tablevalue IN tablerow.value %]
                        [% IF tablevalue.coltype == 'noncompare' %]
                            <td class="nutriment_value[% tablevalue.colclass %]"[% tablevalue.rdfa %]>
                                [% tablevalue.rowvalue %]
                            </td>
                        [% ELSE %]
                            <td class="nutriment_value[% tablevalue.colclass %]">
                                <span class="compare_percent">[% tablevalue.percent %]</span>
                                <span class="compare_value" style="display:none">[% tablevalue.valueunit %]</span>
                            </td>
                        [% END %]
                             
                    [% END %]
                
                </tr>

            [% END %]
        </tbody>
    
    [% END %]

[% FOREACH group IN carbon_footprint %]
    
    <tr id="ecological_footprint">
        <td style="padding-top:10px;font-weight:bold;">
            [% lang('ecological_data_table') %]
        </td>

        [% FOREACH rowvalue IN group.row %]
            [% FOREACH value IN rowvalue.value %]
                <td>
                </td>

            [% END %]
        [% END %]
    
    </tr>
    [% FOREACH tablerow IN group.row %]
        <tr id=[% "nutriment_" _ tablerow.nid _ "_tr" %]  class=[% "nutriment_" _ tablerow.class %]>

            <td class="nutriment_label">
                [% tablerow.name %]
            </td>
            
            [% FOREACH tablevalue IN tablerow.value %]
                [% IF tablevalue.coltype == 'noncompare' %]
                    <td class="nutriment_value[% tablevalue.colclass %]"[% tablevalue.rdfa %]>
                        [% tablevalue.rowvalue %]
                    </td>
                [% ELSE %]
                    <td class="nutriment_value[% tablevalue.colclass %]">
                        <span class="compare_percent">[% tablevalue.percent %]</span>
                        <span class="compare_value" style="display:none">[% tablevalue.valueunit %]</span>
                    </td>
                [% END %]

            [% END %]

        </tr>
    [% END %]
[% END %]
    
</table>
