[% IF (comparsion_ref_defined == 1) %]

    <p> [% lang('nutrition_data_comparison_with_categories') %] </p>

    [% FOREACH comparsion IN comparison_ref_temp %]
        <label style="display:inline;font-size:1rem;"><input type="checkbox" name=[% comparison.name %] value="on" [% comparison.checked_html %] id=[% comparison.id %] class="show_comparison"> [% comparison.compname %] </label>

        [% IF comp_ref_count == 1 %]
            <a href=[% comparison.link %]> ([% comparison.count %] [% lang('products') %])</a>

        [% END %]

        <br>

    [% END %]

    <br>
    <input type="radio" id="nutrition_data_compare_percent" value="compare_percent" name="nutrition_data_compare_type" checked>
    <label for="nutrition_data_compare_percent">[% lang('nutrition_data_compare_percent') %]</label>
    <input type="radio" id="nutrition_data_compare_value" value="compare_value" name="nutrition_data_compare_type">
    <label for="nutrition_data_compare_value">[% lang('nutrition_data_compare_value') %]</label>

    <p class="note">→ [% lang('nutrition_data_comparison_with_categories_note') %]</p>

[% END %]

<table id="nutrition_data_table" class="data_table">

    [% FOREACH group IN table_group %]

        [% FOREACH tablehead IN group.header %]
            <tr>
                <thead class="nutriment_header">

                    <th>
                        [% tablehead.title %]
                    </th>
                    
                    [% FOREACH tableheadvalue IN tablehead.columnValue %]
                        <th class = "nutriment_value" [% tableheadvalue.colclass %] [% tableheadvalue.col %]>
                            [% tableheadvalue.colname %]
                        </th>
                    [% END %]

                </thead>
            </tr>
        [% END %]

        [% FOREACH tablerow IN group.rows %]
        
            <tr id=[% "nutriment_" _ tablerow.nid _ "_tr" %]  class=[% "nutriment_" _ tablerow.class %]>
            
                <td class="nutriment_label">
                    [% tablerow.name %]
                </td>
                
                [% FOREACH tablevalue IN tablerow.value %]
                    <td class=[% "nutriment_value" _ tablevalue.colclass %] property =[% tablevalue.property %]>
                        <span class="compare_percent"> 
                            [% tablevalue.percent %]
                        </span>
                        <span class="compare_value"> 
                            [% tablevalue.rowvalue %]
                        </span>
                    </td>
                [% END %]
            
            </tr>
        
        [% END %]
    
    [% END %]

        [% IF (carbon_footprint == 1) %]

            [% FOREACH tablerow IN table_ref2 %]
                <tr id="ecological_footprint">
                    <td style="padding-top:10px;font-weight:bold;">
                        [% lang('ecological_data_table') %]
                    </td>

                    [% FOREACH tablevalue IN tablerow.value %]
                        <td>
                        </td>

                    [% END %]
                    
                </tr>

                <tr id=[% "nutriment_" _ tablerow.nid _ "_tr" %]  class=[% "nutriment_" _ tablerow.class %]>
            
                    <td class="nutriment_label">
                        [% tablerow.name %]
                    </td>

                    [% FOREACH tablevalue IN tablerow.value %]
                        <td class=[% "nutriment_value" _ tablevalue.colclass %] property =[% tablevalue.property %]>
                            <span class="compare_percent"> 
                                [% tablevalue.percent %]
                            </span>
                            <span class="compare_value"> 
                                [% tablevalue.rowvalue %]
                            </span>
                        </td>

                    [% END %]

                </tr>

            [% END %]

        [% END %]

</table>
