 <!DOCTYPE html>
 <html>
    <body>
        <p>
        <a data-dropdown="nutriscore_drop" aria-controls="nutriscore_drop" aria-expanded="false"> [% mylang('nutriscore_calculation_details') %] &raquo</a>
        </p>
        <div id="nutriscore_drop" data-dropdown-content class="f-dropdown content large" aria-hidden="true" tabindex="-1">
          [% IF is_beverage %]
            <p> [% mylang('nutriscore_is_beverage') %] </p>
          [% ELSE %]
            <p> [% mylang('nutriscore_is_not_beverage') %] </p>
          [% END %]
          [% IF is_fat %]
            <p> [% mylang('nutriscore_proteins_is_added_fat') %] </p>
          [% END %]

          [% FOREACH group IN points %]
            <p><strong> [% mylang("nutriscore_" _ group.type _ "_points") %][% mylang('sep') %]: [% group.points %]  </p></strong>
            <ul>

            [% FOREACH nutrient IN group.nutrients %]
              <li><strong> [% mylang("nutriscore_points_for_" _ nutrient.id) %][% mylang('sep') %]: [% nutrient.points %]&nbsp</strong>
              /&nbsp [% nutrient.maximum %][% mylang("points") %] ([% mylang("nutriscore_source_value") %][% mylang("sep") %]: [% nutrient.value %], 
              [% mylang('nutriscore_rounded_value') %][% mylang('sep') %]: [% nutrient.rounded %])
              </li>
              
            [% END %]
            </ul>
            [% END %]
            <p>[% nutriscore_protein_info %] <br></p>
            <p><strong> [% mylang('nutriscore_score') %][% mylang('sep') %]: [% score %] </strong> ( 
              [% negative_points %] - [% positive_points %])
            <br>
            <strong> [% mylang('nutriscore_grade') %][% mylang('sep') %]: [% grade %] </strong>
            </p>
        </div>
      

   </body>
 </html>