[% IF action == 'display' %]
    [% lang("reset_password_${type}_msg") %]
    [% INCLUDE 'error_list.tt.html' %]
    <form method="post" action="/cgi/reset_password.pl" enctype="multipart/form-data">
        [% IF type == 'send_email' %]
            <label>
                [% lang('userid_or_email') %]
                <input type="text" name="userid_or_email"/>
            </label>
        [% ELSIF type == 'reset' %]
            <table role="presentation">
                <tr>
                    <td>[% lang('password_new') %]</td>
                    <td><input type='password' name='password'/></td>
                </tr>
                <tr>
                    <td>[% lang('password_confirm') %]</td>
                    <td><input type='password' name='confirm_password'/></td>
                </tr>
            </table>
            <input type='hidden' name='resetid' value=param('resetid') />
            <input type='hidden' name='token' value=param('token') />
        [% END %]
        <input type='hidden' name='action' value='process' />
        <input type='hidden' name='type' value=[% type %] />
        <input type='submit' name='.submit' class='button' />
    </form>
[% ELSIF action == 'process' %]
    [% IF type == 'send_email' %]
        [% IF i > 0 %]
            [% lang('reset_password_send_email') %]
        [% END %]
    [% ELSIF type == 'reset' %]
        [% IF user_token == 'defined' %]
            [% lang('reset_password_reset') %]
        [% END %]
    [% END %]
[% END %]
