<p>[% error %]</p>
[% IF (current_link_query.defined) && !(jqm.defined) %]
    [% IF country != 'en:world' %]
        <p>&rarr; <a href= "[% world_subdomain %][% current_link_query %]"> [% lang('view_results_from_the_entire_world') %]</a></p>
    [% END %]
    &rarr; <a href="[% current_link_query %]">[% lang('search_link') %]</a><br>
[% END %]
[% IF (current_link_query_edit.defined) && !(jqm.defined) %]
    &rarr; <a href="[% current_link_query_edit %]">[% lang('search_edit') %]</a><br>
[% END %]

[% IF count > 0 %]
    [% IF (current_link_query_download.defined) && !(jqm.defined) %]
        &rarr;[% lang('search_download_results') %]<br>
        [% IF count <= export_limit %]
            <ul>
                <li><a href="[% current_link_query_download %]&format=xlsx">[% lang('search_download_xlsx') %]</a> ([% lang('search_download_xlsx_description') %])</li>
                <li><a href="[% current_link_query_download %]&format=csv">[% lang('search_download_csv') %]</a> ([% lang('search_download_csv_description') %])</li>
            </ul>
        [% END %]
    [% END %]

    [% IF explore_products == 'true' %]
        <ul class="button-group">
            <li>
                <div style="font-size:1.2rem;background-color:#eeeeee;padding:0.3rem 1rem;height:2.75rem;margin:0">[% html_count %]</div>
            </li>
            <li>
                <button href="#" data-dropdown="drop1" aria-controls="drop1" aria-expanded="false" class="button dropdown small">[% lang('explore_products_by') %]</button>
                <ul id="drop1" data-dropdown-content class="f-dropdown" aria-hidden="true">
                    [% FOREACH newtagtype IN current_drilldown_fields %]
                        <li><a href="[% newtagtype.current_link %]/[% newtagtype.tag_type_plural %]"[% newtagtype.nofollow %]>[% lang("${newtagtype.tagtype}_p") FILTER ucfirst %]</a></li>
                    [% END %]
                </ul>
            </li>
        </ul>
    [% ELSE %]
        <p>
            [% html_count %][% separator_before_colon %]:
        </p>
    [% END %]

    [% IF (jqm.defined) && !(jqm_loadmore.defined) %]
        <ul data-role="listview" data-theme="c" id="search_results_list">
    [% ELSE %]
        <ul class="products">
    [% END %]
    
    [% FOREACH product IN structured_response_products %]
        [% IF product.jqm %]
            <li>
                <a href="#page_product?code=[% product.code %]" title="[% product.product_name %]">
                    [% product.img %]
                    [% product.product_name %]
                </a>
            </li>
        [% ELSE %]
            <li>
                [% IF product.product_name == '' %]
                    <a href="[% product.url %]" title="[% product.code %]">
                [% ELSE %]
                    <a href="[% product.url %]" title="[% product.product_name %]">
                [% END %]
                <div>[% product.img %]</div>
                <span>[% product.product_name %]</span>
                </a>
            </li>
        [% END %]

    [% END %]
    
    <!-- Pagination -->
    [% display_pagination(request, page_count, page_limit, page) %]

[% END %]
