<p> Testing </p>
<!-- <form method="post" action="/cgi/search.pl" enctype="multipart/form-data" id="search_form"> -->
    
    <!-- Word Search -->

    <!-- <div class="row">
        <div class="large-12 columns">
            TEST 1
            <label for="search_terms2">[% lang ('search_terms_note') %]</label>
            <input type="text" name="search_terms2" id="search_terms2" value="[%search_terms%]" />
	    </div>
    </div> -->

    <!-- Criteria -->

    <!-- <h3>[% lang('search_tags') %]</h3>
    <label>[% lang('search_criteria') %]</label> -->

    <!-- Criteria form -->

    <!-- <div class="row">

        <div class="small-12 medium-12 large-6 columns criterion-row" style="padding-top:1rem">
            <div class="row">
                <div class="small-12 medium-12 large-5 columns">
                </div>
            </div>

        </div>
    
    </div> -->

    <!-- Ingredients Form -->

    <!-- <h3>[% lang('search_ingredients') %]</h3>

    <div class="row">
        [% FOREACH type IN tagtype %]

            <div class="small-12 medium-12 large-6 columns">
                <label>[% lang ("${type}_p") FILTER ucfirst %]</label>
                <input type="radio" name="$tagtype" value="without" id="without_$tagtype" $search_ingredient_classes_checked{$tagtype}{without}/>
				    <label for="without_$tagtype">[% lang('search_without') %]</label>
			    <input type="radio" name="$tagtype" value="with" id="with_$tagtype" $search_ingredient_classes_checked{$tagtype}{with}/>
				    <label for="with_$tagtype">$Lang{search_with}{$lc}</label>
			    <input type="radio" name="$tagtype" value="indifferent" id="indifferent_$tagtype" $search_ingredient_classes_checked{$tagtype}{indifferent}/>
				    <label for="indifferent_$tagtype">[% lang('search_indifferent') %]</label>
            </div>

        [% END %]
    </div> -->

    <!-- Nutriments Form -->

    <!-- <h3>[% lang('search_nutriments') %]</h3>

    <div class="row">

    </div> -->

    <!-- Different types to display results -->

    <!-- <input type="hidden" name="action" value="process" />

    <ul id="result_accordion" class="accordion" style="margin-left:0" data-accordion>

        <li class="accordion-navigation">
            <a href="#results_list" style="border-top:1px solid #ccc"><h3>[% lang('search_list_choice') %]</h3></a>
            <div id="results_list" class="content $active_list">
                <div class="row">
                    <div class="small-6 columns">
                        <label for="sort_by">[% lang('sort_by') %]</label>
                        [% popup_sort %]
                    </div>
                    <div class="small-6 columns">
                        <label for="page_size">[% lang('search_page_size') %]</label>
                        [% popup_size %]
                    </div>
                </div>

                <input type="submit" name="search" class="button" value="[% lang ('search_button') %]" />
            </div>
        </li> -->

        <!-- Graphs and visualization -->

        <!-- <li class="accordion-navigation">
            <a href="#results_graph" style="border-top:1px solid #ccc"><h3>[% lang('search_graph_choice') %]</h3></a>
            <div id="results_graph" class="content $active_graph">
    
                <div class="alert-box info">[% lang('search_graph_note') %]</div>
    
                <label for="graph_title">[% lang('graph_title') %]</label>
                <input type="text" name="graph_title" id="graph_title" value="$graph_ref->{graph_title}" />
    
                <p>[% lang('search_graph_instructions') %]</p>
    
                <div class="row">
                    [% FOREACH axis IN ['x', 'y'] %]
                        <div class="small-12 medium-6 columns">

                            <label for=[% "axis_" _ axis %]> lang("axis_${axis}") </label>
                        
                        </div>

                    [% END %]
                </div>

                <div class="row">
                    <div class="small-12 medium-6 columns">
                        <p>[% lang('search_series') %]</p>
                        ....

        </li> -->

        <!-- Map results -->

        <!-- <li class="accordion-navigation">
            <a href="#results_map" style="border-top:1px solid #ccc"><h3>[% lang('search_map_choice') %]</h3></a>
            <div id="results_map" class="content [% active_map %]">

                <div class="alert-box info">[% lang ('search_map_note') %]</div>

                <label for="map_title">[% lang ('map_title') %]</label>
                <input type="text" name="map_title" id="map_title" value="[% map_title %]" />

                <input type="submit" name="generate_map" value="[% lang ('search_generate_map') %]" class="button" />

		    </div>
        </li> -->
        
        <!-- Download results -->

        <!-- <li class="accordion-navigation">
            <a href="#results_download" style="border-top:1px solid #ccc"><h3>[% lang('search_download_choice') %]</h3></a>
            <div id="results_download" class="content">

                <p>[% lang('search_download_results') %]</p>

                <input type="radio" name="format" value="xlsx" id="format_xlsx" checked/>
                    <label for="format_xlsx">[% lang('search_download_xlsx') %] - [% lang('search_download_xlsx_description') %]</label><br>
                <input type="radio" name="format" value="csv" id="format_csv" />
                    <label for="format_csv">[% lang('search_download_csv') %] - [% lang('search_download_csv_description') %]</label><br>

                <input type="submit" name="download" value="[% lang('search_download_button') %]" class="button" />

            </div>
        </li>
    </ul> -->
<!-- </form> -->
