[% IF action == 'display' || action == 'none' %]
[% INCLUDE 'error_list.tt.html' %]
[% END %]

[% IF action == 'display' %]

    <!-- Start form -->

    <form method="post" action="/cgi/user2.pl" enctype="multipart/form-data">
		[% FOREACH section IN sections %]
			[% IF user OR section.id == "user" %]
				[% FOREACH field IN section.fields %]
					[% IF field.field == 'userid' %]
                        [% IF type == 'edit' %]
						    <label for="[% field.field %]"> [% lang(field.label2) %]</label>
                            <p> [% user_id_field %] </p>
                        [% ELSE %]
                            <label for="[% field.field %]">  [% lang(field.label2) %] [% lang('username_info')  %]</label>
                            <input type="text" id="[% field.field %]" name="[% field.field %]" value="[% field.value %]" autocomplete="[% field.field %]" onkeyup="normalize_string_value(this)" />
                        [% END %]
					[% ELSIF field.type == 'text' %]
                        <label for="[% field.field %]">[% field.label %]</label>
                        <input type="text" id="[% field.field %]" name="[% field.field %]" value="[% field.value %]" autocomplete="[% field.field %]"/>
					[% ELSIF field.type == 'password' %]
						<label for="[% field.field %]">[% lang(field.label2) %]</label>
						<input type="password" id="[% field.field %]" name="[% field.field %]" value="[% user_password_field %]" autocomplete="new-password"/>
					[% ELSIF field.type == 'textarea' %]
						<label for="[% field.field %]">[% field.label %]</label>
						<textarea id="[% field.field %]" name="[% field.field %]" style="height:100px;" autocomplete="[% field.field %]">[% field.value %]</textarea>
					[% ELSIF field.type == 'email' %]
						<label for="[% field.field %]">	[% field.label %]</label>
						<input type="email" id="[% field.field %]" name="[% field.field %]" value = "[% field.value %]" autocomplete="[% field.field %]"/>
					[% END %]
				[% END %]
			[% END %]

			[% IF professional OR section.id == "professional" %]

				<h5>[% lang("pro_account") %]</h5>

				<p>[% lang("if_you_work_for_a_producer") %]</p>
				<p>[% lang("producers_platform_description_long") %]</p>
               
                [% IF accepted_organization %]
                    <p>[% lang("this_is_a_pro_account_for_org") %]
                        <b>[% accepted_organization %]</b>
                    </p>
                
                [% ELSIF product_type %]
                    [% FOREACH field IN section.fields %]
                        [% IF field.type == 'checkbox' %]
                            <input type="checkbox" id="[% field.field %]" name="[% field.field %]" />
                        [% ELSIF field.type == 'hidden' %]
                            <label for="pro">[% lang("this_is_a_pro_account") %]
                                <input type="hidden" name="[% field.field %]" value="[% field.value %]">
                            </label>
                        [% ELSIF field.type == 'text' %]
                            <div id="pro_org" style="display:none;">
                                <p id="org-field"> [% lang("producer_or_brand") %]
                                    <input type="text" id="[% field.field %]" name="[% field.field %]" value="[% field.value %]" onkeyup="normalize_string_value(this)"/>
                                </p>
                        [% END %]
                    [% END %]
              

                    [% IF requested_org_ref.defined %]
                        <div id="existing_org_warning">
                            <p>[% lang("add_user_existing_org") %] [% org_name %] </p>
                            <p>[% lang("add_user_existing_org_pending") %] </p>
                            <p>[% lang("please_email_producers") %] </p>
                        </div>
                    [% ELSE %]
                        <p>[% lang("enter_name_of_org") %]</p>
                    [% END %]

                [% END %]
                </div>

			[% END %]

			[% IF (teams OR section.id == "teams") AND teams_flag %]

                <div id="tr_teams" style="display:block">

                    <h5>[% lang("teams") %] ([% lang("optional") %])</h5>

                    <p>[% lang("teams_description") %]</p>
                    <p>[% lang("teams_names_warning") %]</p>

                    <div>
                        [% FOREACH field IN section.fields %]
                            [% IF field.type == 'text' %]
                                <label for="[% field.field %]">[% field.label %]:</label>
                                <input type="text" id="[% field.field %]" name="[% field.field %]" value="[% field.value %]" autocomplete="[% field.field %]" onkeyup="normalize_string_value(this)"/>
                            [% END %]
                        [% END %]
                    </div>
                </div>

			[% END %]


            [% IF administrator OR section.id == "administrator" %]
                
                [% IF !admin %]
                    [% LAST %]
                [% END %] 
                [% IF type == 'add' || type == 'edit' %]
                    <h2 style = "background-color:#ffcccc">Administrator fields</h2>
                    <p>[% lang("organization") %]</p>
                    <p>[% lang("user_groups") %]: </p>

                    [% FOREACH field IN section.fields %]
                        [% IF field.type == 'text' %]
                            <label for="[% field.field %]">[% field.label %]</label>
                            <input type="text" id="[% field.field %]" name="[% field.field %]" value="[% field.value %]" autocomplete="[% field.field %]"/>
                        
                        [% ELSIF field.type == 'checkbox' %]
                            <label for="[% field.field %]">
                            <input type="checkbox" id="[% field.field %]" name="[% field.field %]"  [% IF field.value == 'on' %]checked="checked"[% END %] />
                            [% field.label %] [% lang(field.label2) %]
                            </label>
                        [% END %]
                        
                    [% END %]
                  
                [% END %]
            [% END %] 


		[% END %]


        <!--newsletter subscription-->
        [% IF type == 'add' %]
            <label>
                <input type="checkbox" id="[% field.field %]" name="newsletter" checked="on" />
                [% lang("newsletter_description") %]
            </label>
            <p>[% lang("unsubscribe_info") %]</p>
        [% END %]

       


            [% IF admin %]
			<table>

                <tr><td colspan="2">
					<label>
						<input type="checkbox" name="delete" onchange="if (this.checked) { if (!confirm('This action cannot be undone, are you sure you want to delete the user?')) { this.checked = false }}" />
						[% lang("delete_user") %]
					</label>
                </td></tr>
            [% END %]
            <tr>
                <td>
                    <input type="hidden" name="action" value="process" />
                    <input type="hidden" name="type" value="[% type %]" />
                    [% IF userid %]
						<input type="hidden" name="userid" value="[% userid %]" />
						<input type="submit" name=".submit" class="button" value="[% lang("save") %]" />
					[% ELSE %]
						<input type="submit" name=".submit" class="button" value="[% lang("add_user") %]" />
					[% END %]
                </td>
            </tr>
        </table>
    </form>

    <!-- End form -->

    [% ELSIF action == 'process' %]
    <p>[% lang('${type}_user_result') %]</p>

    [% IF type == 'add' %]

        <!-- Show different messages depending on whether it is a pro account
        and whether we are on the public platform or the pro platform -->
        
        [% IF user_requested_org.defined %]

            <!-- Pro account, but the requested org already exists -->

            <div id="existing_org_warning">
                <p>[% add_user_existing_org %]</p>
                <p>[% lang("add_user_existing_org_pending") %]</p>
                <p>[% lang("please_email_producers") %]</p>
            </div>

        [% ELSIF user_org.defined %]

            <!-- Pro-account, with a newly created org -->
        
            [% IF server_options_producers_platform.defined %]

                <!-- We are on the producers platform -->
                <!-- Suggest next steps: -->
                <!-- - import product data -->
                
                <p>[% lang("add_user_you_can_edit_pro") %]</p>
                <p>&rarr; <a href="/cgi/import_file_upload.pl">[% lang("import_product_data") %]</a></p>

            [% ELSE %]

                <!-- We are on the public platform, link to the producers platform -->

                <p>[% add_user_pro_url %]</p>

            [% END %]

        [% ELSE %]

            <!-- Personal account -->
                
            <!-- Suggest next steps:
            - add or edit products on the web site or through the app
            - join us on Slack -->

            <p>[% add_user_you_can_edit %]</p>
            <p>[% add_user_join_the_project %]</p>
            <p>[% lang("add_user_join_us_on_slack") %]</p>
            <p>&rarr; <a href="https://slack.openfoodfacts.org">[% lang("join_us_on_slack") %]</a></p>

        [% END %]

    [% END %]

    [% IF type == 'add' || type == 'edit' %]

        <!-- Do not display donate link on producers platform -->

        [% IF !(server_options_producers_platform) %]
            <h3>[% lang("you_can_also_help_us") %]</h3>
            <p>[% lang("bottom_content") %]</p>
        [% END %]

    [% END %]

[% END %]

[% IF debug %]
    <p>type: [% type %] action: [% action %] userid: [% userid %]</p>
[% END %]
