[% IF action == 'display' || action == 'none' %]
[% INCLUDE 'error_list.tt.html' %]
[% END %]

[% IF action == 'display' %]

    <!-- Start form -->

    <form method="post" action="/cgi/user.pl" enctype="multipart/form-data">
        <table>
            [% display_user_form %]
            [% display_user_form_optional %]
            [% display_user_form_admin_only %]

            [% IF admin %]
                <tr><td colspan="2">
					<label>
						<input type="checkbox" name="delete" value="on" />
						[% lang("delete_user") %]
					</label>
                </td></tr>
            [% END %]
            <tr>
                <td>
                    <input type="hidden" name="action" value="process"  />
                    <input type="hidden" name="type" value="[% type %]"  />
                    [% IF userid %]
						<input type="hidden" name="userid" value="[% userid %]"  />
					[% END %]
                    <input type="submit" name=".submit" class="button" />
                </td>
            </tr>
        </table>
    </form>

    <!-- End form -->

[% ELSIF action == 'process' %]
    <p>[% lang('${type}_user_result') %]</p>

    [% IF type == 'add' %]

        <!-- Show different messages depending on whether it is a pro account
        and whether we are on the public platform or the pro platform -->

        [% IF user_requested_org.defined %]

            <!-- Pro account, but the requested org already exists -->

            <div id="existing_org_warning">
                <p>[% add_user_existing_org %]</p>
                <p>[% lang("add_user_existing_org_pending") %]</p>
                <p>[% lang("please_email_producers") %]</p>
            </div>

        [% ELSIF user_org.defined %]

            <!-- Pro-account, with a newly created org -->

            [% IF server_options_producers_platform.defined %]

                <!-- We are on the producers platform -->
                <!-- Suggest next steps: -->
                <!-- - import product data -->

                <p>[% lang("add_user_you_can_edit_pro") %]</p>
                <p>&rarr; <a href="/cgi/import_file_upload.pl">[% lang("import_product_data") %]</a></p>

            [% ELSE %]

                <!-- We are on the public platform, link to the producers platform -->

                <p>[% add_user_pro_url %]</p>

            [% END %]

        [% ELSE %]

            <!-- Personal account -->

            <!-- Suggest next steps:
            - add or edit products on the web site or through the app
            - join us on Slack -->

            <p>[% add_user_you_can_edit %]</p>
            <p>[% add_user_join_the_project %]</p>
            <p>[% lang("add_user_join_us_on_slack") %]</p>
            <p>&rarr; <a href="https://slack.openfoodfacts.org">[% lang("join_us_on_slack") %]</a></p>

        [% END %]

    [% END %]

    [% IF type == 'add' || type == 'edit' %]

        <!-- Do not display donate link on producers platform -->

        [% IF !(server_options_producers_platform) %]
            <h3>[% lang("you_can_also_help_us") %]</h3>
            <p>[% lang("bottom_content") %]</p>
        [% END %]

    [% END %]

[% END %]

[% IF debug %]
    <p>type: [% type %] action: [% action %] userid: [% userid %]</p>
[% END %]
