<!-- start templates/[% template.name %] -->

<div id="image_box_[% image.type %]" class="image_box">

<figure itemprop="image" itemscope="" itemtype="https://schema.org/ImageObject" style="margin-bottom:0">
   
    <a data-reveal-id="drop_[% image.type %]">
        <img style="border-radius:10px;margin-bottom:0.5rem;" [% IF image.type == 'front' %]id="og_image" [% END %] class="product_image" src="[% image.sizes.400.url %]" width="[% image.sizes.400.width %]" height="[% image.sizes.400.height %]" alt="[% image.alt %]" itemprop="thumbnail" loading="lazy">
    </a>

    <meta itemprop="imgid" content="[% image.type %]">
    
    <figcaption>
        <a href="/cgi/product_image.pl?code=[% code %]&amp;id=[% image.id %]" title="Photo detail and attribution information">
            [% display_icon('cc') %]
        </a>
    </figcaption>
</figure>

<a data-reveal-id="drop_[% image.type %]" style="border-radius:10px;border-width:0;">
    <button class="button small round white-button"><span class="material-icons material-symbols-button">zoom_in</span> <span>Zoom</span></button>
</a>

<div id="drop_[% image.type %]" class="reveal-modal" data-reveal="" aria-labelledby="modalTitle_[% image.type %]" aria-hidden="true" role="dialog" about="[% image.full_url %]">
    <h2 id="modalTitle_[% image.type %]"></h2>
    <img src="[% image.sizes.full.url %]" alt="[% image.alt %]" itemprop="contentUrl" loading="lazy">
    <a class="close-reveal-modal" aria-label="Close" href="#">×</a>
    <meta itemprop="representativeOfPage" content="false">
    <meta itemprop="license" content="https://creativecommons.org/licenses/by-sa/3.0/">
    <meta itemprop="caption" content="[% image.alt %]">
</div>

</div>
  
<!-- end templates/[% template.name %] -->
