[% panel = panels.$panel_id %]
<!-- start templates/[% template.name %] - panel_id: [% panel_id %] -->
<div class="panel[% IF panel.parent_panel_id == 'root' %] callout[% END %]" id="[% panel_id %]">
    <div class="panel_title">
        <h3>
            [% IF panel.plus_or_minus %]
                [% IF panel.plus_or_minus == "plus" %]
                    <span class="icon" style="color:green">
                        [% display_icon("check") %]
                    </span>
                [% ELSIF panel.plus_or_minus == "minus" %]
                    <span class="icon" style="color:red">
                        [% display_icon("cancel") %]
                    </span>
                [% ELSIF panel.plus_or_minus == "neutral" %]
                    <span class="icon" style="color:grey">
                        [% display_icon("check") %]
                    </span>
                [% ELSIF panel.plus_or_minus == "unknown" %]
                    <span class="icon" style="color:grey">
                        [% display_icon("help") %]
                    </span>
                [% END %]
            [% END %]
            [% panel.title %]
        </h3>
    </div>

    [% FOREACH element_ref IN panel.elements %]
        [% element_type = element_ref.element_type %]
        [% element = element_ref.element %]
        [% IF element_type == "panel" %]
            [% INCLUDE web/panels/panel.tt.html panel_id = element.panel_id %]
        [% ELSE %]
        
            [% IF element_type == "text" %]
                [% IF element.text_type == "h1" %]<h4>[% END %]
                    [% element.html %]
                [% IF element.text_type == "h1" %]</h4>[% END %]

            [% ELSIF element_type == "table" %]
                <table[% IF element.table_id %] id="[% element.table_id %]"[% END %]>
                    <caption style="text-align:left">[% element.title %]</caption>
                    <thead>
                        <tr>
                            [% FOREACH header IN element.headers %]
                            <th scope="col">
                                [% header.text %]
                            </th>
                            [% END %]
                        </tr>
                    </thead>
                    <tbody>
                        [% FOREACH row IN element.rows %]
                        <tr[% IF row.id %] id="[% row.id %]"[% END %]>
                            [% FOREACH value IN row.item('values') %]
                                <td>
                                    [% IF value.icon_url %]
                                        <span class="icon"><img src="[% value.icon_url %]" alt="icon"></span>
                                    [% END %]
                                    [% IF value.percent.defined %]
                                        <div style="width:200px;float:left;margin-right:1rem;" class="show-for-large-up">
                                            <div class="agribalyse_impact_bar_full">
                                                <div class="percent_bar[% IF value.percent_color.defined %] [% value.percent_color %][% END %]" style="width:[% round(2 * value.percent)%]px;height:1.2rem;"></div>
                                            </div>
                                        </div>	
                                    [% END %]
                                    [% IF value.color.defined %]
                                        <span class="[% value.color %]">[% value.text %]</span>
                                    [% ELSE %]
                                        [% value.text %]
                                    [% END %]
                                </td>                          
                            [% END %]
                        </tr>
                        [% END %]
                    </tbody>
                </table>
            [% END %]            

        [% END %]
    [% END %]
</div>
<!-- end templates/[% template.name %] - panel_id: [% panel_id %] -->
