name: Unit Test Coverage

on: [push]
jobs:
  coverage:
    name: unit test coverage
    runs-on: ubuntu-latest
    steps:
       - uses: actions/checkout@master
       # Before rebuilding the taxonomies, we do this to restore dates so we don't have to build all taxonomies
       # Prior usage in .github/workflows/pull_request.yml
       - name: rebuild taxonomies
         run:  |
          git ls-files taxonomies/ | xargs -I{} git log -1 --date=format:%Y%m%d%H%M.%S --format='touch -t %ad "{}"' "{}" | bash
          make build_taxonomies
       - uses: actions/checkout@master
       - name: generate coverage results
         run: make cover
       - name: generate text file with results
         if: always()
         run: make coverage_txt
       - name: use codecov
         if: always()
         run: make codecov
       - uses: codecov/codecov-action@v3
         if: always()
         with:
           files: cover_db/codecov.json