name: Container Image CI

on:
  push:
    branches:
      - master

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v1
      with:
        fetch-depth: 1
    - name: Publish frontend image to Registry
      uses: elgohr/Publish-Docker-Github-Action@2.21
      with:
        name: ${{ github.repository }}/frontend
        username: ${{ github.actor }}
        password: ${{ secrets.GITHUB_TOKEN }}
        registry: docker.pkg.github.com
        dockerfile: docker/frontend/Dockerfile
        snapshot: true
      id: publish_frontend
    - name: Copy frontend output for backend container
      run: |
        CONTAINER=$(docker create docker.pkg.github.com/${{ github.repository }}/frontend:${{ steps.publish_frontend.outputs.snapshot-tag }})
        docker cp $CONTAINER:/opt/product-opener/html/images/icons/dist - > icons.tar
        docker cp $CONTAINER:/opt/product-opener/html/js/dist - > js.tar
        docker cp $CONTAINER:/opt/product-opener/html/css/dist - > css.tar
        tar -xf icons.tar -C ./html/images/icons/
        tar -xf js.tar -C ./html/js/
        tar -xf css.tar -C ./html/css/
        rm icons.tar js.tar css.tar
        docker rm -v $CONTAINER
    - name: Publish backend image to Registry
      uses: elgohr/Publish-Docker-Github-Action@2.21
      with:
        name: ${{ github.repository }}/backend
        username: ${{ github.actor }}
        password: ${{ secrets.GITHUB_TOKEN }}
        registry: docker.pkg.github.com
        dockerfile: docker/backend/Dockerfile
        snapshot: true
