name: Crowdin Sync

#on:
#  push:
   # branches: [ * ]
   
on:
  push:
    branches:
      - crowdin-trigger
      - crowdin-wf-refactor

jobs:
  synchronize-with-crowdin-matrix:
    name: Synchronize with crowdin (matrix)
    runs-on: ubuntu-latest
    strategy:
      fail-fast: false
      max-parallel: 1
      matrix:
         lc: [ca, uk, it, es, fr, de, id, en,he,da,ko,nl,zh_CN,pt_BR,zh_TW,nl_BE,pt_PT,nl,zh_HK,zhtw,zh]
    steps:
    - name: Checkout
      uses: actions/checkout@v2
    - name: Matrix
      uses: crowdin/github-action@1.4.0
      with:
         upload_translations: false # default is false
         download_translations: true
         skip_untranslated_files: false
         commit_message: New Crowdin translations - ${{ matrix.lc }}
         localization_branch_name: l10n_main_${{ matrix.lc }}
         pull_request_base_branch_name: main
         pull_request_title: chore - New translations - ${{ matrix.lc }}
         pull_request_labels: "translations"
         download_language: ${{ matrix.lc }}
      env:
         GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
         CROWDIN_PROJECT_ID: ${{ secrets.CROWDIN_PROJECT_ID }}
         CROWDIN_PERSONAL_TOKEN: ${{ secrets.CROWDIN_PERSONAL_TOKEN }}
