name: Crowdin Sync

#on:
#  push:
   # branches: [ * ]
   
on:
  push:
    branches:
      - crowdin-trigger-per-language

jobs:
  synchronize-with-crowdin-matrix:
    name: Synchronize with crowdin (matrix)
    runs-on: ubuntu-latest
    strategy:
      fail-fast: false
      max-parallel: 1
      matrix:
         lc: [ca, uk, it, es, fr, de, id, en, he, da, ko, nl, pt-BR, zh-TW, nl-BE, pt-PT, zh-HK, zh-CN,  aa , ar , ber , br , co , fa , ga , hy , iu , kk , lb , me , mr , ne , no , ry , sd , sl , sq , st , tg , tr , tzl , val , wa , zea , zu , ach , as , bg , bs , crs , eo , fi , gd , hi , id , ja , km , ku , lo , mg , ms , nr , pa , qu , sa , sg , sma , sr , sv , th , ts , ug , ve , wo , zh ,af , ast , bm , ca , cs , el , fil , gl , hr , ii , jv , kmr , kw , mi , mt , pl , rm , sat , sh , sn , sr_CS , sw , ti , tt , uk , vec , xh , ak , az , bn , ce , cv , et , fo , gu , ht , is , ka , kmr_TR , ky , lt , ml , my , oc , ro , sc , si , so , sr_RS , ta , tl , tw , ur , vi , yi , am , be , bo , chr , cy , eu , ha , hu , kab , kn , la , lv , mn , nb , nn , ru , sco , sk , son , ss , te , tn , ty , uz , vls , yo ]
    steps:
    - name: Checkout
      uses: actions/checkout@v4
    - name: Matrix
      uses: crowdin/github-action@v2.7.0
      with:
         upload_translations: false # default is false
         download_translations: true
         skip_untranslated_files: false
         commit_message: "l10n: New Crowdin translations - ${{ matrix.lc }}"
         localization_branch_name: l10n_main_${{ matrix.lc }}
         pull_request_base_branch_name: main
         pull_request_title: "l10n: New translations - ${{ matrix.lc }}"
         pull_request_labels: "translations"
         download_language: ${{ matrix.lc }}
      env:
         GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
         CROWDIN_PROJECT_ID: ${{ secrets.CROWDIN_PROJECT_ID }}
         CROWDIN_PERSONAL_TOKEN: ${{ secrets.CROWDIN_PERSONAL_TOKEN }}
