name: Documentation

on:
  pull_request:
    # on pull request we just want to build
    paths:
    - "docs/**"
    - ".github/workflows/generate-doc.yml"
    - "mkdocs.yml"
    - "html/files/doc/perl/**"
  push:
    # on merge to main, build and publish
    branches: [ main ]

jobs:
  documentation:
    name: Documentation
    runs-on: ubuntu-latest

    steps:
      - name: Checkout sources
        uses: actions/checkout@v3

      # generating project documentation
      - name: Build documentation with MkDocs
        run: |
          scripts/build_mkdocs.sh

      # generating perl documentation
      - name: Install Perl requirements
        run: |
          sudo apt-get update
          sudo apt-get install perl perl-doc cpanminus libmodern-perl-perl

      - name: "Setup local::lib"
        run: |
          cpanm --local-lib=~/perl5 local::lib && eval $(perl -I ~/perl5/lib/perl5/ -Mlocal::lib)

      - name: Run generate_perl_html_doc_from_pod.pl
        run: |
          perl -CS -I lib scripts/generate_perl_html_doc_from_pod.pl && \
          # and copy to target directory
          rm -rf gh_pages/reference/perl-pod && \
          mv html/files/doc/perl gh_pages/reference/perl-pod

      # generating openapi documentation
      # we do this after mkdocs to overwrite api.html file
      - name: Generate openapi html with ghcr.io/redocly/redoc/cli:latest
        run : |
          docker run --rm \
            -v $(pwd)/docs/reference:/data -v $(pwd)/gh_pages/:/output \
            ghcr.io/redocly/redoc/cli:latest \
            build -o /output/reference/api-v3/index.html api.yml && \
          sudo chown $UID -R gh_pages

      - name: Generate openapi html for v3 with ghcr.io/redocly/redoc/cli:latest
        run : |
          docker run --rm \
            -v $(pwd)/docs/reference:/data -v $(pwd)/gh_pages/:/output \
            ghcr.io/redocly/redoc/cli:latest \
            build -o /output/reference/api/index.html api-v3.yml && \
          sudo chown $UID -R gh_pages

      - name: Deploy API documentation to Github Pages
        uses: JamesIves/github-pages-deploy-action@v4.4.1
        # we only deploy on push to main
        if: |
          github.event_name == 'push' && github.event.ref == 'refs/heads/main'
        with:
          token: ${{ secrets.GITHUB_TOKEN }}
          branch: "gh-pages"
          folder: gh_pages
