name: Pull Requests

on:
  pull_request:
    branches: [ main ]

jobs:

  # those are just until we de-activate their mandatory
  gulp:
    name: Gulp
    runs-on: ubuntu-latest
    steps:
    - name: just finish
      run: exit 0
  dev:
    name: Dev
    runs-on: ubuntu-latest
    steps:
    - name: just finish
      run: exit 0

  lint:
    name: NPM lint
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v3
      with:
        fetch-depth: 1
    - uses: actions/setup-node@v3
      with:
        node-version: '12.x'
    - name: gulp build
      run: make front_build
    - name: lint
      run: make front_lint

  # this will build the docker image and upload as an artifact for following jobs
  build_backend:
    name: Build backend dev image for tests
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v3
      with:
        fetch-depth: 50
    - name: build
      run: make build_backend
    - name: push backend image as artifact
      uses: ishworkh/docker-image-artifact-upload@v1
      with:
        image: "openfoodfacts-server/backend:dev"

  check_perl_formatting:
    name: Check perl formatting
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v3
      with:
        fetch-depth: 50
    - name: install perltidy
      run: sudo apt-get install -y perltidy
    - name: reformat all perl files
      run: find . -type f \( -name "*.t" -o -name "*.pl" -o -name "*.pm" \) -exec perltidy -pro=.perltidyrc {} \;
    - name: test perl formatting
      run: |
        for i in $(find . -type f \( -name "*.t" -o -name "*.pl" -o -name "*.pm" \))
        do
          git diff --no-index ${i} ${i}.tdy
        done

  check_perl:
    name: Check perl
    needs: build_backend
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v3
      with:
        fetch-depth: 50
    - name: Download backend image from artifacts
      uses: ishworkh/docker-image-artifact-download@v1
      with:
        image: "openfoodfacts-server/backend:dev"
    - name: check perl
      run: make check_perl

  tests:
    name: Perl unit tests
    needs: build_backend
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v3
      with:
        fetch-depth: 50
    - name: Download backend image from artifacts
      uses: ishworkh/docker-image-artifact-download@v1
      with:
        image: "openfoodfacts-server/backend:dev"
    - name: rebuild taxonomies
      # here we first restore dates from git for taxonomies to avoid build them all
      # see https://stackoverflow.com/a/60984318/2886726
      run: |
        git ls-files taxonomies/ | xargs -I{} git log -1 --date=format:%Y%m%d%H%M.%S --format='touch -t %ad "{}"' "{}" | bash
        make build_taxonomies
    - name: test
      run: make tests

  tests_dev:
    name: Test make dev
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v3
      with:
        fetch-depth: 50
    - name: Test make dev
      run: |
        make dev
        make status
    - name: test all is runing
      run: make livecheck
    - name: test clean
      run: make hdown
