name: Validate translation files
on:
  pull_request:
    branches: [ main ]
jobs:
  validate:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - name: Validate .po files
        uses: Tar-Minyatur/gettext-validation@master
        with:
          folder: po/
